.image-title-tile {
	display: block;
	width: 100%;
	@include bg-image;
	padding: 24px 0;
	text-align: center;
	position: relative;
	border: solid 2px $white;

	@include breakpoint(medium) {
		padding-bottom: 50%;
		border-bottom: solid 2px $white;
		padding-top: 30px;
	}

	@include breakpoint(large) {
		padding-bottom: 92.4%;
		border-bottom: solid 4px $white;
	}

	&:before {
		@include absolute-center;
		@include border;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}

	&:hover {
		border-bottom: solid 2px $white;
	}

	@include breakpoint(medium) {
		&:after {
			@include dark-overlay;
		}

		&:hover {

			&:before {
				@include border-hover;
			}

			h4 {
				background-color: $white;
				color: $black;
			}
		}
	}

	.tile-content {
		width: 100%;
		padding: 20px;

		@include breakpoint(medium) {
			@include vertical-center;
			z-index: 5;
		}
	}

	h4 {
		display: inline-block;
		font-family: $condensed;
		font-weight: bold;
		line-height: 1.2;
		width: 100%;
		max-width: 250px;
		margin: 0;
		padding: 20px 40px;
		text-transform: uppercase;
		border: solid 3px $white;
		background-color: rgba($black, 0.3);
		color: $white;
		transition: background-color 0.3s ease-out;
	}
}