.tile-4-list {
	li {
		height: 130px;
		padding: 0;
		margin-bottom: 0;
		border: solid 3px transparent;

		@include breakpoint(medium) {
			padding: 10px;
			height: 250px;
			border: none;
		}

		&:last-child {
			float: left !important;
		}
	}
}
