// Button base
$btn-border: 0;
$btn-font: $body-font;
$btn-case: uppercase;
$btn-font-weight: normal;
$btn-font-weight-hover: 700;
$btn-bg-colour: red;
$btn-radius: 50px;
$btn-transition: none;

// Button sizes
$btn-small-padding: 10px 20px;
$btn-medium-padding: 16px 40px;
$btn-medium-padding-mobile: 16px 25px;
$btn-large-padding: 30px 50px;

// Button margin
$btn-margin: 20px 0 0;
$btn-margin-mobile: 13px 0 0;

// Button themes
//------------PRIMARY---------------
$btn-font-colour-primary: purple; 
$btn-bg-colour-primary: red;
$btn-font-colour-primary-hover: purple;
$btn-bg-colour-primary-hover: green;

//------------SECONDARY---------------
$btn-font-colour-secondary: $white; 
$btn-bg-colour-secondary: $blue;
$btn-font-colour-secondary-hover: $white;
$btn-bg-colour-secondary-hover: $blue;

//------------TERTIARY-----------------
$btn-font-colour-tertiary: purple; 
$btn-bg-colour-tertiary: yellow;
$btn-font-colour-tertiary-hover: purple;
$btn-bg-colour-tertiary-hover: green;

//------------GHOST-----------------
$btn-font-colour-ghost: $black; 
$btn-bg-colour-ghost: transparent;
$btn-font-colour-ghost-hover: $black;
$btn-bg-colour-ghost-hover: transparent;
$btn-border-ghost: solid 3px $black;
$btn-radius-ghost: 50px;