$black: #000000;
$white: #ffffff;
$grey: #7f7f7f;
$light-grey: #d2d2d2;
$light-grey-2: #f1f1f2;
$search-grey: #737373;

$peach: #fb972d;
$slate: #363636;
$red: #fa3e3e;
$light-blue: #afdcdf;
$blue: #6fa0ae;
$dark-blue: #1f5668;

$light-brown: #ce975c;
$brown: #913908;
$dark-brown: #2f2920;

$light-green: #b5e19d;
$green: #639083;
$green1: #b5d676;
$dark-green: #274f2c;

$turquois: #1f5668;

$footer-links: #5a6164;

$orange: #913909;

$bg-grey: #f6f6f6;

$tripadvisor: #00a680;

$error: #d9534f !important;
$platinum: #82A6F3 !important;
$gold: #d9a441 !important;
$silver: #ccc2c2 !important;
$bronze: #965a38 !important;
