// Sections
$section-padding-small: 30px 0 30px;
$section-padding-medium: 35px 0 35px;
$section-padding-large: 40px 0 40px;
$section-padding-xlarge: 50px 0 50px;
$section-padding-xxlarge: 60px 0 60px;

// Row margin
$row-margin-small: 20px;
$row-margin-medium: 20px;
$row-margin-large: 20px;

// Component
$component-margin-mobile: 10px;