// Base font
$font-size: 16px;
$font-color: $black;
$body-font: 'open_sansregular', sans-serif;
$line-height: 1.618;

$condensed: 'open_sans_hebrew_condensedRg', sans-serif;
$condensed-bold: 'open_sans_condensedbold', sans-serif;
$light-italic: 'open_sanslight_italic', sans-serif;
$body-bold: 'open_sansbold', sans-serif;
$body-extra-bold: 'open_sansextrabold', sans-serif;

// Headings
// size of heading is based on $font-size
$heading-font: 'open_sanslight', sans-serif;
$heading-color: $black;

// Links
$link-color: $black;
$link-weight: normal;
$link-border: solid 2px $green;

$link-color-hover: $black;
$link-weight-hover: normal;
$link-border-hover: solid 2px $green;
