.influencer-post {
	h3,
	p {
		color: $white;
		font-weight: 300;
		margin: 0;
	}

	.profile-pic {
		width: 110px;
		height: 110px;
		position: relative;
		top: 30px;
		z-index: 5;
		display: inline-block;
		border: solid 2px $white;
		border-radius: 50%;
		@include bg-image;
	}

	&-carousel {
		width: 100%;
		margin-top: 0;

		.slick-list {
			padding: 0 !important;
		}

		li div {
			height: 300px;
			@include bg-image;
		}
	}

	.slick-dots li button:before {
		color: $white;
	}

	a.btn.lite-blue {
		color: $white;
	}
}
