#calendar-header {
	padding-bottom: 30px;

	h1 {
		font-family: $heading-font;
		margin-bottom: 20px;

		&:before {
			content: '';
			display: block;
			width: 60px;
			margin: 0 auto 10px;
			border-bottom: solid 3px $green;
		}
	}

	h5 {
		margin-bottom: 20px;
	}
}

#event-results {
	.results-show-enter {
		opacity: 0.01;
	}

	.results-show-enter.results-show-enter-active {
		opacity: 1;
		transition: opacity 300ms ease-out;
	}

	.results-show-leave {
		opacity: 1;
	}

	.results-show-leave.results-show-leave-active {
		opacity: 0.01;
		transition: opacity 300ms ease-out;
	}
}
