#event-results > .row > .columns {
	padding: 0;
}

li.event-item:last-child {
	float: left !important;
}

.calendar-tile {
	display: block;
	height: 110px;
	margin-bottom: 20px;
	background-color: $bg-grey;
	padding: 10px 20px;
	border: none;
	position: relative;

	@include breakpoint(xlarge) {
		height: 152px;
		padding: 15px 30px;
	}

	&:hover,
	&:focus {
		border: none;
	}

	&-left {
		float: left;
		width: 95px;
		height: 100%;
		color: $white;
		text-align: center;

		&-day {
			font-family: $body-bold;
			height: 60px;
			display: flex;

			@include breakpoint(xlarge) {
				height: 84px;
			}

			&.single-date span {
				margin: auto;
				font-size: 37px;

				@include breakpoint(xlarge) {
					font-size: 52px;
				}
			}

			&.date-tba span {
				margin: auto;
				font-size: 27px;

				@include breakpoint(xlarge) {
					font-size: 35px;
				}
			}

			&.multi-date span {
				margin: auto;
				font-size: 25px;
				letter-spacing: -1px;
			}
		}

		&-month {
			font-family: $body-extra-bold;
			text-transform: uppercase;
			font-size: 14px;
			border-top: solid 1px rgba($white, 0.3);
			height: 30px;

			@include breakpoint(xlarge) {
				height: 38px;
				font-size: 22px;
			}

			&.single-month {
				height: 100%;
				display: flex;

				span {
					margin: auto;
					font-size: 33px;
				}
			}
		}
	}

	&-right {
		float: left;
		width: calc(100% - 95px);
		padding: 0 14px 14px;

		h4 {
			margin-bottom: 5px;
			margin-top: 0;
			font-size: 21.6px;
			line-height: 1.37;

			@include breakpoint(medium) {
				font-size: 25.6px;
			}

			a {
				font-family: $heading-font;
				font-weight: normal;
				border-bottom: solid 1px transparent;

				&:hover {
					border-bottom: solid 1px $black;
				}
			}
		}

		p {
			font-family: $body-bold;
			font-size: 10px;
			padding: 0;
			margin: 0;

			@include breakpoint(xlarge) {
				font-size: 14px;
			}
		}
	}

	&-info-btn {
		@include btn-reset;
		position: absolute;
		bottom: 15px;
		right: 15px;
		border: solid 2px $blue;
		border-radius: 50%;
		width: 27px;
		height: 27px;
		display: flex;
		z-index: 3;
		padding: 0;

		&:hover,
		&.active {
			svg {
				fill: $white;
			}
		}

		&-phone,
		&-mail {
			width: 17px;
			height: 17px;
			margin: auto;
			@include absolute-center;
			top: 55%;
		}

		&-mail {
			width: 14px;
			height: 14px;
			top: 49%;
			left: 50%;
		}
	}

	&-info-box {
		position: absolute;
		right: 15px;
		bottom: 60px;
		background-color: $white;
		text-align: center;
		box-shadow: 0px 0px 81px 0px rgba($black, 0.24);
		padding: 10px 40px;
		border-radius: 80px;
		z-index: 3;
		width: 220px;

		@include breakpoint(xlarge) {
			right: -81px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -8px;
			left: 73%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #ffffff transparent transparent transparent;

			@include breakpoint(xlarge) {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		p {
			margin: 0;
		}

		a {
			font-family: $body-font;
			font-size: 14px;
			font-weight: normal;
			border-bottom: solid 1px transparent;

			&:hover {
				border-bottom: solid 1px $black;
			}
		}

		&-heading {
			color: $blue;
			font-family: $body-bold;
			font-size: 20px;
		}

		&-contact {
			font-family: $body-bold;
			font-size: 14px;
		}

		&-phone {
			font-size: 14px;
		}

		&.info-show-enter {
			opacity: 0.01;
			transform: translateY(10px);
		}

		&.info-show-enter.info-show-enter-active {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 200ms ease-in, transform 200ms ease-out;
		}

		&.info-show-leave {
			opacity: 1;
		}

		&.info-show-leave.info-show-leave-active {
			opacity: 0.01;
			transition: opacity 200ms ease-in;
		}
	}

	&.calendar-tile-month {
		background-color: $blue;
		display: flex;

		.calendar-tile-month-wrapper {
			margin: auto;
			margin-left: 0;
			h4 {
				color: $white;
				text-transform: uppercase;
				font-size: 38px;
				font-family: $body-extra-bold;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 1.2;

				@include breakpoint(xlarge) {
					font-size: 52px;
				}
			}

			.calendar-tile-month-year {
				color: $white;
				font-size: 23px;
				font-family: $body-extra-bold;
				position: relative;
				top: -6px;

				@include breakpoint(xlarge) {
					font-size: 32px;
				}
			}
		}
	}
}
