#excerpt {
	padding-bottom: 20px;
	background-color: $white;

	@include breakpoint(medium) {
		padding-bottom: 40px;
	}

	p {
		margin-bottom: 0;
	}

	.avatar {
		display: block;
		text-align: left;
		margin-bottom: 10px;

		@include breakpoint(medium) {
			text-align: center;
			margin-bottom: 0;
		}

		img {
			float: none;
			border-radius: 50%;
			display: inline-block;
			float: left;
			width: 63px;
			margin-right: 20px;
			height: auto;
			border: solid 3px $white;
			box-shadow: 1px 1px 5px 0px rgba($black, 0.54);

			@include breakpoint(medium) {
				width: 130px;
				margin: 0 auto;
				float: none;
			}
		}

		&-detail {
			@include breakpoint(medium) {
				clear: both;
			}
		}

		&-author {
			font-family: $body-font;
			font-size: 22px;
			margin-bottom: 5px;
			line-height: 1.3;
		}

		&-desc {
			font-family: $body-font;
			font-size: 14px;
			font-weight: bold;

			@include breakpoint(medium) {
				font-size: 15px;
			}
		}
	}

	.excerpt {
		@include breakpoint(medium) {
			padding: 0 20px 0 40px;
		}

		p {
			font-size: 24px;
			line-height: 1.5;
			font-family: $heading-font;

			@include breakpoint(medium) {
				font-size: 29px;
			}
		}
	}
}

#blog-getting-there {
	padding: 0;
	text-align: center;

	@include breakpoint(medium) {
		padding: 0 0 20px;
	}

	h2 {
		max-width: 700px;
		width: 100%;
		display: inline-block;
	}

	.getting-there-list {
		margin-top: 20px;

		li {
			width: 45%;
			font-weight: bold;
			margin-bottom: 15px;

			@include breakpoint(medium) {
				width: 24%;
			}

			.getting-there-label {
				font-weight: normal;
				margin-bottom: 2px;
			}

			.getting-there-icon {
				width: 48px;
				height: 48px;
				margin-bottom: 10px;
				display: inline-block;
			}
		}
	}
}

#articles-1 {
	&.blog-articles.grey-bg {
		background-color: $bg-grey;
	}
}

#full-width-related-blog {
	.full-width-related {
		position: relative;
		height: 60vh;
		max-height: 748px;
		min-height: 550px;

		& > img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}

		&:after {
			@include dark-overlay;
		}

		&-content {
			@include absolute-center;
			width: 100%;
			padding: 0 20px;
			max-width: 600px;
			z-index: 5;

			h2 {
				color: $white;

				&:before {
					border-bottom: solid 3px $light-blue;
				}
			}

			p {
				color: $white;
				font-size: 18px;

				@include breakpoint(medium) {
					font-size: 15px;
				}
			}

			a.btn {
				color: $white;
			}
		}
	}
}
