#category-nav {

	.simple-menu-list {

		&-list {

			@include breakpoint(medium) {
				display: block;
				text-align: center;
			}

			li {
				display: block;
				text-align: center;
				border-bottom: solid 1px $light-grey;

				&:last-child {
					border-bottom: none;
				}

				@include breakpoint(medium) {
					display: inline-block;
					border-bottom: none;
				}

				a {

					@include breakpoint(medium) {
						margin: 20px;
						padding: 20px;
						border: solid 1px $light-grey;

						&:last-child {
							border-bottom: solid 1px $light-grey;
						}
					}
				}
			}
		}
	}
}