#getting-here {
	.getting-here-list {
		li {
			margin-bottom: 30px;

			&:nth-child(odd) {
				clear: both;
			}

			&:last-child {
				float: left;
			}
		}
	}

	.full-width-getting-here {
		padding: 50px 0;
		position: relative;

		@include breakpoint(medium) {
			padding: 100px 0;
		}

		& > img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.full-width-getting-here-wrapper {
		background-color: rgba($white, 0.85);
		padding: 30px 0 0;
		margin: 0 5px;
		position: relative;
		z-index: 1;

		@include breakpoint(medium) {
			padding: 30px 30px 0;
			margin: 0 auto;
		}
	}

	.getting-here-image {
		width: 100%;
		padding-bottom: 38.5%;
		margin-bottom: 15px;
		position: relative;

		& > img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	h3 {
		font-weight: bold;
		line-height: 1.2;
		font-size: 20px;
		margin-bottom: 13px;
	}

	a {
		@include primary-link($black);
	}
}

#tips {
	.tips-list {
		li:nth-child(odd) {
			clear: both;
		}
	}
}
