.event-details {
	padding: 30px 0 0;
	max-width: 940px;
	margin: 0 auto;

	@include breakpoint(medium) {
		padding: 30px 0;
		display: flex;
		flex-direction: row;
	}

	li {
		text-align: center;
		margin: 0 20px 30px;
		vertical-align: top;
		width: 100%;
		max-width: 300px;
		min-height: 77px;
		position: relative;

		@include breakpoint(medium) {
			margin: 0 20px;
			flex-grow: 1;
			max-width: none;
			text-align: center;
			max-width: 220px;
		}

		@include breakpoint(large) {
			max-width: 280px;
		}

		a:not(.details-social-link) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		i.fa {
			font-size: 24px;
			display: inline-block;

			@include breakpoint(medium) {
				font-size: 20px;
			}
		}

		.details-title {
			font-weight: bold;
		}

		a {
			font-weight: normal;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 300px;

			@include breakpoint(medium) {
				max-width: 220px;
			}

			@include breakpoint(large) {
				max-width: 280px;
			}
		}

		p {
			margin-bottom: 0;
		}
	}

	&-row-2 {
		padding: 0;

		@include breakpoint(medium) {
			border-top: 1px solid $light-grey;
			padding: 30px 0 0;
		}

		li {
			width: 100%;
			max-width: 250px;

			@include breakpoint(medium) {
				max-width: none;
			}
		}
	}

	.details-social {
		&-link {
			color: $white;
			display: inline-block;
			margin: 10px 5px 0;
			border: none;

			&:hover,
			&:focus {
				border: none;
			}

			i.fa {
				font-size: 25px;
			}
		}
	}
}

#while-here {
	.while-here-list {
		li {
			margin-bottom: 30px;

			&:nth-child(odd) {
				clear: both;
			}
		}
	}

	.full-width-while-here {
		padding: 50px 0;

		@include breakpoint(medium) {
			padding: 100px 0;
		}
	}

	.full-width-while-here-wrapper {
		background-color: rgba($white, 0.85);
		padding: 30px 0 0;
		margin: 0 5px;

		@include breakpoint(medium) {
			padding: 30px 30px 0;
			margin: 0 auto;
		}
	}

	.while-here-image {
		width: 100%;
		height: 140px;
		margin-bottom: 15px;

		@include breakpoint(medium) {
			height: 220px;
		}
	}

	h3,
	h4 {
		font-weight: bold;
		line-height: 1.2;
		font-size: 20px;
		margin-bottom: 13px;
	}

	a.while-here-link {
		@include primary-link($black);
		font-family: $body-bold;

		&.file {
			&:after {
				content: '\f15b';
				font-size: 13px;
				left: 5px;
			}
		}

		&.external {
			&:after {
				content: '\f2d2';
				font-size: 13px;
				left: 5px;
			}
		}
	}
}

#information {
	h3,
	h4 {
		font-weight: bold;
		line-height: 1.2;
		font-size: 20px;
		margin-bottom: 13px;
	}

	ul li {
		margin-bottom: 12px;
	}
}

#feature {
	padding: 220px 5px 30px;

	@include breakpoint(medium) {
		padding: 130px 0;
	}

	.feature-content {
		background-color: rgba($white, 0.85);
		padding: 20px;

		@include breakpoint(medium) {
			padding: 30px 60px;
		}

		h2 {
			text-transform: uppercase;
			font-size: 28px;

			@include breakpoint(medium) {
				font-size: 43px;
			}

			&:before {
				content: none;
			}
		}

		a {
			@include primary-link($black);
			font-family: $body-bold;

			&.external {
				&:after {
					content: '\f2d2';
					font-size: 13px;
					left: 5px;
				}
			}
		}
	}
}
