.feature-single {
	padding-top: 0;

	@include breakpoint(large) {
		padding: 0;
	}

	&-image {
		@include bg-image;
		padding-bottom: 62.5%;

    	@include breakpoint(large) {	
    		padding: 0;
    		min-height: 550px;
			height: 55vh;
    	}
	}

	&-text {
		position: relative;
		padding-top: 30px;

    	@include breakpoint(large) {
    		padding: 0;
    		height: 55vh;
    		min-height: 550px;
    	}

    	&-wrapper {
    		text-align: center;

			@include breakpoint(large) {
				@include vertical-center;
				max-width: 450px;
				left: 30px;
				text-align: left;
			}

			h2:before {
				margin: 0 auto 10px;

				@include breakpoint(large) {
					margin: 0 0 10px;
				}
			}

			a {
				@include primary-btn($blue);
				border: solid 
			}
    	}
	}
}

.event-search {
    border-top: solid 1px $light-grey;
    border-bottom: solid 1px $light-grey;
    display: inline-block;
    width: 100%;
    position: relative;
    background-color: $white;
    padding: 23px 0;

    @include breakpoint(large) {
        padding: 30px 0;
    }

    ::placeholder {
        font-family: $heading-font;
        color: $grey;
        font-size: 14px;

        @include breakpoint(medium) {
            font-size: 22px;
        }
    }

    .search-ico,
    .search-close-ico {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: top;
        margin-top: 13px;

        @include breakpoint(medium) {
            vertical-align: middle;
            margin-top: 0px;
        }
    }

    .event-search-form {
        display: inline-block;
        margin-left: 6px;
        margin-top: 3px;
        vertical-align: middle;
        width: calc(100% - 35px);
        // overflow: hidden;

        @include breakpoint(medium) {
            margin-left: 20px;
            width: calc(100% - 50px);
        }

        input {
            border: 0;
            outline: none;
            width: calc(100% - 120px);
            font-size: 18px;
            font-family: $body-font;
            float: left;
            margin-top: 8px;

            @include breakpoint(medium) {
                margin-top: 13px;
                width: calc(100% - 300px);
                font-size: 22px;
            }
        }

        button.btn {
            float: right;
            width: 115px;
            min-width: 115px;
            padding: 8px 10px;
            background-color: transparent;

            @include breakpoint(medium) {
                min-width: 270px;
                padding: 16px 40px;
            }
        }
    }
}