#articles-1 {
	&.general-articles.grey-bg {
		background-color: $bg-grey;
	}

	.btn.btn-ghost {
		color: $black;

		&:hover {
			color: $white;
		}
	}
}

// #full-width-related-general {
// 	.full-width-related {
// 		@include bg-image;
// 		position: relative;
// 		height: 60vh;
// 		max-height: 748px;
// 		min-height: 550px;

// 		&:after {
// 			@include dark-overlay;
// 		}

// 		&-content {
// 			@include absolute-center;
// 			width: 100%;
// 			max-width: 600px;
// 			z-index: 5;
// 			padding: 0 10px;

// 			h2 {
// 				color: $white;

// 				&:before {
// 					border-bottom: solid 3px $light-blue;
// 				}
// 			}

// 			p {
// 				color: $white;
// 				font-size: 18px;

// 				@include breakpoint(medium) {
// 					font-size: 15px;
// 				}
// 			}

// 			a.btn {
// 				color: $white;
// 			}
// 		}
// 	}
// }
