#description-1 {
	.main-description {
		max-height: 290px;
		padding-bottom: 30px;
		overflow: hidden;
		transition: max-height 0.6s ease-out;
	}

	.show-more-btn {
		margin-top: 20px;
		background-color: transparent;
	}
}

#influencers {
	h2 {
		color: $white;

		&:before {
			border-bottom: solid 3px $light-blue;
		}
	}
}

#video {
	text-align: center;

	h2 {
		&:before {
			border-bottom: solid 3px $blue;

			@include breakpoint(medium) {
				margin: 0 0 10px;
			}
		}
	}

	@include breakpoint(medium) {
		text-align: left;
	}
}

// #full-width-related {
// 	.full-width-related {
// 		position: relative;
// 		height: 60vh;
// 		max-height: 748px;
// 		min-height: 550px;

// 		& > img {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			height: 100%;
// 			width: 100%;
// 			object-fit: cover;
// 			object-position: center;
// 		}

// 		&-content {
// 			@include absolute-center;
// 			width: 100%;
// 			max-width: 700px;
// 			z-index: 5;
// 			padding: 0 10px;

// 			h2 {
// 				color: $white;
// 			}

// 			p {
// 				color: $white;
// 				font-size: 18px;

// 				@include breakpoint(medium) {
// 					font-size: 15px;
// 				}
// 			}

// 			a.btn.lite-blue {
// 				color: $white;
// 			}
// 		}
// 	}
// }
