#articles-1 {
	h2 {
		&:before {
			border-bottom: solid 3px $blue;
		}
	}
}

#places {
	background-color: $dark-brown;

	h2 {
		color: $white;

		&:before {
			margin: 0 0 10px;
			border-bottom: solid 3px $white;
		}
	}
}

#looking-for-nav {
	padding: 20px 3px;
	position: relative;

	@include breakpoint(medium) {
		padding: 40px 0;
	}

	@include breakpoint(large) {
		padding: 150px 0;
	}

	& > img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	h2 {
		&:before {
			border-bottom: solid 3px $orange;
		}
	}

	.looking-for-content {
		background-color: rgba($white, 0.85);
		padding: 30px;
		position: relative;
		z-index: 1;
	}
}

#stackla {
	background-color: $dark-brown;

	h2 {
		color: $white;

		&:before {
			border-bottom: solid 3px $light-brown;
		}
	}

	.stackla-widget {
		margin: 20px 0;
	}

	a.btn {
		color: $white;
	}
}
