#looking-for-nav.category {
	text-align: center;
	padding: 0;

	ul li.looking-for-nav-item {
		float: left;
		padding: 0 16px;
		vertical-align: top;
		
		@include breakpoint(medium) {
			display: inline-block;
			float: none;
			margin-bottom: 20px;
		}
	}
}