.post-list-hero {
	@include bg-image;
	height: calc(35vh + 131px);
	position: relative;

	&:after {
		@include dark-overlay;
	}

	h1 {
		color: $white;
	}

	&-content {
		@include absolute-center;
		top: calc(50% + 45px);
		z-index: 2;
	}
}

#event-reorder {
	border-bottom: solid 1px $light-grey;
	padding: 30px 0;

	label {
		margin-bottom: 0;
		position: relative;
		font-family: $body-font;
	}

	.order-by-date[type="checkbox"] {
	    opacity: 0;
	    width: 0px;
	    height: 0px;

	    & + label:before {
	    	content: "";
			display: inline-block;
			vertical-align: middle;
			background-color: transparent;
			width: 50px;
			height: 27px;
			border-radius: 15px;
			margin-right: 15px;
			border: solid 2px $search-grey;
			transition: all 0.3s ease-out;
	    }

	    & + label:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			position: absolute;
			background-color: $search-grey;
			left: 4px;
			top: 1px;
			transform: translateX(0px);
			transition: all 0.3s ease-out;
		}

		&:checked + label:before {
			background-color: #b9deb5;
			border: solid 2px $green;
		}

		&:checked + label:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			position: absolute;
			background-color: $green;
			left: 4px;
			top: 1px;
			transform: translateX(23px);
		}
	}
}

#post-list-container {
	position: relative;
	min-height: 200px;
}

#post-list {

	.list-spinner-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
		opacity: 0.55;
	}

	.post {
		border-bottom: 1px solid $light-grey;
		padding: 20px 0;

		&:first-child {
			padding: 0 0 20px;
		}

		&:last-child {
			border-bottom: 0;
		}

		&-image {
			vertical-align: top;
			width: 100px;
			height: 50px;
			margin: 0 20px 10px 0;
			display: block;
			background-color: $light-grey;
			@include bg-image;

			@include breakpoint(medium) {
				width: 110px;
				height: 110px;
				display: inline-block;
				margin: 0 20px 0 0;
			}
		}

		&-text {
			display: block;
			width: 100%;

			@include breakpoint(medium) {
				max-width: 750px;
				display: inline-block;
			}

			p {
				margin-bottom: 0;
				display: inline;
			}

			&-more {
				display: inline;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom: 1px solid $black;
				}
			}
		}

		h4 {
			margin: 0 0 15px;

			a {
				margin-bottom: 20px;
				font-family: $condensed;
			}
		}
	}
}