#description {
	.citizens-logo {
		width: 255px;
		display: inline-block;
		margin-bottom: 20px;
	}

	.tripadvisor-heading {
		font-size: 20px;
		margin-bottom: 0px;
	}

	.btn-ghost.tripadvisor {
		margin-bottom: 30px;

		@include breakpoint(large) {
			margin-bottom: 0;
		}
	}

	#TA_cdsratingsonlynarrow474 {
		> img {
			display: none;
		}

		#CDSRATINGWIDGET474 {
			width: 100%;
		}

		#CDSROWLOC474 {
			display: none;
		}

		.cdsROW .cdsRating {
			font-size: 13px;
		}

		.cdsROW.narrow .logo {
			padding: 10px 0 10px;

			a {
				border: none;
			}
		}

		.cdsROW .logo img {
			max-width: 140px;
			width: 140px;
			height: auto;
		}

		.cdsROW .cdsRating .ui_bubble_rating {
			font-size: 24px;
			margin-bottom: 15px;
		}
	}
}

#facilities {
	.facilities-list {
		text-align: center;

		li {
			width: 45%;
			font-weight: bold;
			margin-bottom: 15px;

			@include breakpoint(medium) {
				width: 30%;
			}

			@include breakpoint(large) {
				width: 24%;
			}

			.facilities-icon {
				width: 48px;
				height: 48px;
				display: inline-block;
			}
		}
	}
}

#map {
	padding-top: 50px;
	position: relative;

	.acf-map {
		width: 100%;
		height: 348px;
		border: none;
		margin: 0;

		@include breakpoint(medium) {
			height: 580px;
		}
	}

	.address-overlay {
		text-align: center;
		padding: 25px 20px;

		@include breakpoint(large) {
			padding: 30px 60px;
			background-color: $white;
			@include vertical-center;
			top: calc(50% + 70px);
			left: 15.5%;
			box-shadow: 0px 6px 31px 6px rgba($black, 0.4);
		}

		h4 {
			font-size: 22px;
			max-width: 300px;
			margin: 0 auto 10px;
		}

		p {
			margin: 0 0 20px;
		}
	}

	/* fixes potential theme css conflict */
	.acf-map img {
		max-width: inherit !important;
	}
}

#gallery {
	padding-bottom: 20px;

	h2 {
		color: $white;

		&:before {
			border-bottom: solid 3px $green;
		}
	}
}

#citizen {
	padding: 30px 0 0;
	text-align: center;

	@include breakpoint(medium) {
		padding: 0;
		text-align: left;
	}

	.citizen-left,
	.citizen-right {
		height: auto;
		position: relative;

		@include breakpoint(medium) {
			min-height: 730px;
			height: 60vh;
		}
	}

	@include breakpoint(small only) {
		.citizen-left,
		.citizen-right {
			padding: 0 20px 30px;
		}

		.citizen-right {
			height: 300px;
		}
	}

	.citizen-content {
		width: 100%;

		@include breakpoint(medium) {
			@include vertical-center;
			right: 0;
			max-width: 690px;
			padding: 0 70px 20px 0;
		}

		h2 {
			&:before {
				border-bottom: solid 3px $blue !important;
				margin: 0 auto 10px;

				@include breakpoint(medium) {
					margin: 0 0 10px;
				}
			}
		}

		a.btn.blue.btn-ghost {
			border: solid 3px $blue !important;

			&:hover,
			&:focus {
				background-color: $blue !important;
			}
		}
	}
}

#explore-product {
	background-color: $turquois;

	h2 {
		color: $white;

		&:before {
			border-bottom: solid 3px $white;
		}
	}
}
