.search-hero {
	@include bg-image;
	position: relative;
	padding: 120px 20px 30px;
	overflow: hidden;

	@include breakpoint(medium) {
		height: 170px;
	}

	@include breakpoint(large) {
		&:after {
			@include top-gradient;
		}
	}
}

.missing {
	h2 {
		font-size: 26px;

		@include breakpoint(medium) {
			font-size: 40px;
		}
		&:before {
			content: none;
		}
	}

	.search-form-wrapper {
		display: block;
		width: 100%;
		max-width: 500px;
		margin: 30px auto;

		.search-ico {
			width: 30px;
			height: 30px;
			margin-right: 5px;
			display: inline-block;
			position: relative;
			top: 10px;

			@include breakpoint(medium) {
				margin-right: 13px;
				width: 45px;
				height: 45px;
				top: 15px;
			}
		}

		.search-form {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 40px);

			@include breakpoint(medium) {
				width: calc(100% - 65px);
			}

			.search-field {
				outline: none;
				padding: 10px;
				width: 100%;
				border: 1px solid $grey;
				border-radius: 4px;

				@include breakpoint(medium) {
					padding: 13px;
				}
			}

			::placeholder {
				font-size: 13px;

				@include breakpoint(medium) {
					font-size: 16px;
				}
			}
		}
	}
}

