.things-image-wrapper {
	margin-bottom: 20px;
	padding: 0 20px;

	@include breakpoint(large) {
		padding: 0;
		margin-bottom: 30px;
	}

	.things-image {
		@include bg-image;
		border: solid 4px $white;
		border-bottom: solid 2px $white;
		float: left;
		position: relative;
		cursor: pointer;

		@include breakpoint(medium) {
			border: solid 4px $white;
			border-bottom: solid 4px $white;
		}

		&.direction-right {
			float: right;
		}

		&-caption {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba($black, 0.55);
			text-align: center;
			padding: 10px;
			opacity: 0;
			transition: opacity 0.2s ease-out;

			p {
				color: $white;
				margin-bottom: 0;
				line-height: 1;
				max-width: 400px;
				display: inline-block;
			}
		}

		&-caption-below {
			text-align: center;

			&.video-caption {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 0;
				font-size: 13px;
			}

			&:before {
				content: '\f106';
				font-family: FontAwesome;
			}
		}

		&-caption-below-mobile {
			text-align: center;
			margin-bottom: 20px;

			@include breakpoint(medium) {
				display: none;
			}

			&.video-caption {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 0;
				font-size: 13px;
			}

			&:before {
				content: '\f106';
				font-family: FontAwesome;
			}
		}

		&:hover {
			@include breakpoint(medium) {
				.things-image-caption {
					opacity: 1;
				}
			}
		}

		&.one-up-1 {
			width: 100%;
			height: 190px;

			@include breakpoint(medium) {
				height: 715px;
			}
		}

		&.two-up-1,
		&.two-up-2 {
			width: 100%;
			height: 200px;

			@include breakpoint(medium) {
				height: 600px;
				width: 50%;
			}
		}

		&.three-up-1,
		&.four-up-1 {
			width: 100%;
			height: 200px;

			@include breakpoint(medium) {
				width: 70%;
				height: 600px;
			}
		}

		&.three-up-2,
		&.three-up-3 {
			width: 100%;
			height: 200px;

			@include breakpoint(medium) {
				width: 30%;
				height: 300px;
			}
		}

		&.four-up-2,
		&.four-up-3,
		&.four-up-4 {
			width: 100%;
			height: 200px;

			@include breakpoint(medium) {
				width: 30%;
				height: 200px;
			}
		}
	}
}

.in-page-nav-list {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	&.item-count-9,
	&.item-count-7,
	&.item-count-6,
	&.item-count-5,
	&.item-count-4,
	&.item-count-3 {
		@include breakpoint(large) {
			column-count: 3;
			column-gap: 0;
		}
	}

	&.item-count-8 {
		@include breakpoint(large) {
			column-count: 4;
			column-gap: 0;
		}
	}

	li.in-page-nav-item {
		height: 200px;
		width: 100%;
		margin-bottom: 0;

		@include breakpoint(large) {
			height: 300px;
		}
	}
	/* 7 up layout */
	&.item-count-7 {
		li.in-page-nav-item-1,
		li.in-page-nav-item-7 {
			@include breakpoint(medium) {
				height: 400px;
			}

			@include breakpoint(large) {
				height: 600px;
			}
		}
	}

	/* 5 up layout */
	&.item-count-5 {
		li.in-page-nav-item-3 {
			height: 200px;

			@include breakpoint(medium) {
				height: 600px;
			}
		}
	}

	/* 4 up layout */
	&.item-count-4 {
		li.in-page-nav-item-1,
		li.in-page-nav-item-4 {
			height: 200px;

			@include breakpoint(medium) {
				height: 600px;
			}
		}
	}

	/* 3 up layout */
	&.item-count-3 {
		li.in-page-nav-item-1,
		li.in-page-nav-item-2,
		li.in-page-nav-item-3 {
			height: 200px;

			@include breakpoint(medium) {
				height: 600px;
			}
		}
	}

	/* 2 up layout */
	&.item-count-2 {
		li.in-page-nav-item-1,
		li.in-page-nav-item-2 {
			height: 200px;

			@include breakpoint(medium) {
				width: 50%;
				float: left;
				height: 400px;
			}

			@include breakpoint(large) {
				height: 600px;
			}
		}
	}

	/* 2 up layout */
	&.item-count-1 {
		li.in-page-nav-item-1 {
			width: 100%;
			height: 600px;
		}
	}
}

.in-page-nav-tile {
	display: block;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	text-align: center;
	position: relative;
	border: solid 2px $white;
	position: relative;

	&:before {
		@include absolute-center;
		@include border;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}

	@include breakpoint(medium) {
		&:after {
			@include dark-overlay;
			background-color: rgba($black, 0);
			z-index: 3;
			transition: background-color 0.3s ease-out;
		}

		&:hover {
			border: solid 2px $white;

			&:before {
				@include border-hover;
			}

			&:after {
				@include dark-overlay;
				background-color: rgba($black, 0.4);
				z-index: 3;
			}

			h4 {
				background-color: $white;
				color: $black;
			}
		}

		& > img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.tile-content {
		width: 100%;
		padding: 20px;
		@include vertical-center;
		z-index: 5;
	}

	h4 {
		display: inline-block;
		font-family: $condensed;
		font-weight: bold;
		width: 100%;
		max-width: 300px;
		line-height: 1.2;
		margin: 0;
		padding: 20px 40px;
		text-transform: uppercase;
		border: solid 3px $white;
		background-color: rgba($black, 0.3);
		color: $white;
		transition: background-color 0.3s ease-out;
	}
}
