.hero-blog {
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	padding: 113px 0 116px;

	@include breakpoint(medium) {
		height: 75vh;
		min-height: 620px;
	}

	@include breakpoint(large) {
		&:after {
			@include top-gradient;
		}
	}

	&-content {
		position: relative;
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 1000px;

		@include breakpoint(medium) {
			@include absolute-center;
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.5);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 40px 130px 50px;
			}

			p {
				margin-bottom: 10px;
				font-family: $condensed;
				text-transform: uppercase;
				font-weight: bold;
				line-height: 1;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 18px, 20px);
			}

			h1 {
				color: $white;
				font-family: $condensed;
				font-weight: 300;
				max-width: 750px;
				margin: 0 auto;
				text-transform: uppercase;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 36px, 48px);
			}

			p.date {
				margin-bottom: 0;
				margin-top: 15px;
			}
		}

		span.hero-blog-type {
			font-family: $condensed;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 5px;
			font-size: 20px;
			font-weight: 300;
		}
	}
}
