.crisis-notification {
	& > .row {
		@include breakpoint(medium) {
			display: flex;
			align-items: top;
		}

		@include breakpoint(large) {
			align-items: center;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white;
		font-family: $body-bold;
		@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 18px, 28px);
		line-height: 1.3;
		margin-top: 0;

		&:before {
			content: none !important;
		}
	}
	p {
		color: $white;
		font-family: $body-font;
		@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 14px, 18px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		color: $white !important;
		font-family: $body-bold;
		border-bottom: solid 2px $white !important;
	}

	&__icon-container {
		padding-right: 0px;
		padding-top: 5px;
	}

	&__icon {
		width: 15%;

		@include breakpoint(medium) {
			width: 90%;
			float: right;
		}
	}
}
