.hero-things {
	width: 100%;
	height: 100vh;
	min-height: 568px;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint(large) {
		min-height: 650px;
		&:after {
			@include top-gradient;
		}
	}

	&-icons-list {
		margin: 0 auto;
		padding: 0;

		@include breakpoint(medium) {
			margin: 0 auto 20px;
		}

		li {
			padding: 0 20px;
			border-right: 1px solid $white;
			height: 38px;

			@include breakpoint(medium) {
				height: 50px;
			}

			&:last-child {
				border-right: none;
			}

			.hero-things-icon {
				fill: $white;
				width: 48px;
				height: 48px;
				position: relative;
				top: -5px;

				@include breakpoint(medium) {
					top: -10px;
					width: 100px;
					height: 70px;
				}
			}
		}
	}

	&-content {
		@include absolute-center;
		top: calc(50% - 20px);
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 660px;

		@include breakpoint(medium) {
			top: calc(50% - 65px);
		}

		@include breakpoint(large) {
			max-width: 760px;
		}

		.hero-things-ico {
			width: 107px;
			height: 50px;
			display: inline-block;
			margin-bottom: 20px;

			@include breakpoint(medium) {
				width: 150px;
				height: 76px;
			}
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.5);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 37px 60px;
			}

			h1 {
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 40px, 64px);
			}

			p {
				margin-bottom: 0;
			}
		}

		&-map {
			width: 150px;
			height: 150px;
			position: relative;
			margin: 30px auto 0;
			border-radius: 50%;
			background-color: rgba($black, 0.3);

			.hero-map-ico {
				width: 120px;
				height: 120px;
				@include absolute-center;
			}
		}

		p {
			margin-bottom: 10px;
			font-family: $condensed;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			line-height: 1;
		}

		h1 {
			color: $white;
			font-family: $condensed;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 0px;
			max-width: 750px;
		}
	}

	.scroll-down-btn {
		bottom: 90px;

		@include breakpoint(medium) {
			bottom: 120px;
		}
	}
}
