#calendar-root .results-filter-wrapper {
	border-bottom: solid 1px $light-grey;
}

.results-filter-wrapper {
	background-color: $bg-grey;
	padding-top: 20px;
}

.results-filter {
	width: 100%;
	max-width: 740px;
	margin: 0 auto;
	padding: 0 10px;

	ul {
		display: flex;
		justify-content: space-between;
		position: relative;
		top: 1px;

		li {
			border-bottom: solid 1px transparent;
			padding: 0 0 5px;

			&.active {
				border-bottom: solid 1px $black;

				a {
					font-family: $body-bold;
				}
			}

			&:hover {
				border-bottom: solid 1px $black;
			}

			a {
				text-transform: uppercase;
				font-size: 9px;
				border: none;

				@include breakpoint(medium) {
					font-size: 14px;
				}
			}
		}
	}
}
