#calendar-root {
	#showing-wrapper {
		padding: 16px 10px;

		@include breakpoint(medium) {
			padding: 30px 0;
		}

		p {
			margin-bottom: 0;
		}
	}
}

#showing-wrapper {
	text-align: center;
	padding: 20px 0 0;

	@include breakpoint(medium) {
		padding: 40px 0 0;
	}

	p {
		font-family: $body-bold;
		font-size: 14px;

		@include breakpoint(medium) {
			font-size: 16px;
		}

		span {
			display: inline-block;
		}

		span:first-letter {
			text-transform: uppercase;
		}
	}
}
