#search-results,
#event-results {
	position: relative;
	min-height: 300px;
	background-color: $white;

	.no-results {
		text-align: center;
	}

	.loading-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($white, 0.8);
		z-index: 5;

		&-spinner {
			@include absolute-center;
			top: 90px;
			margin-left: -20px;
			transform: scale(1.3);

			@include breakpoint(medium) {
				transform: scale(1.7);
			}
		}
	}
}
