#hero-banner {
	&:before {
		opacity: 1;
		transition: opacity 0.7s ease-in-out;
	}

	&.active:before {
		opacity: 0;
	}
}

.hero-bottom-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 30%);
}

.scroll-down-btn {
	@include horizontal-center;
	bottom: 30px;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
	border: 0;
	outline: none;

	@include breakpoint(medium) {
		bottom: 40px;
	}

	.down-arrow {
		width: 30px;
		height: 16px;

		@include breakpoint(medium) {
			width: 40px;
			height: 22px;
		}

		@include breakpoint(large) {
			width: 50px;
			height: 27px;
		}
	}
}

.video-bg {
	height: 100vh;
}

video {
	@include absolute-center;
	min-height: calc(100vh - 55px);
	height: auto;
	min-width: 100%;
	object-fit: cover;
}

.video-fallback {
	height: 100%;
	background-size: cover;
	background-position: center;
}

.video-element {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
