.sites-wrapper {
	position: relative;
	overflow: hidden;

	@include breakpoint(medium) {
		padding-bottom: 100px;

		&:after,
		&:before {
			content: '';
			display: block;
			height: 3px;
			width: 92px;
			@include horizontal-center;
			bottom: 0;
		}
	}

	&:before {
		top: 0;
	}

	.itinerary-line {
		height: 100%;
		position: absolute;
		left: 37px;

		@include breakpoint(medium) {
			@include horizontal-center;
		}
	}

	.sites-content {
		position: relative;
		z-index: 1;
		flex-direction: row;
		padding: 20px 0;

		@include breakpoint(medium) {
			padding: 50px 0;
			display: flex;
			align-items: center;
			&-right {
				flex-direction: row-reverse;
				text-align: right;
			}

			&-left {
				flex-direction: row;
			}

			&.reverse-direction {
				flex-direction: row-reverse;
			}
		}

		&-image {
			width: 100%;

			@include breakpoint(medium) {
				width: calc(50% - 75px);
			}

			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				display: block;

				@include breakpoint(medium) {
					width: 465px;
					height: 305px;
				}
			}
		}

		&-icon {
			width: 50px;
			height: 50px;
			display: inline-block;
			position: relative;
			vertical-align: top;
			margin: 15px;

			@include breakpoint(medium) {
				display: block;
				margin: 0 38px;
				width: 74px;
				height: 74px;
			}

			svg {
				fill: $white;
				width: 45px;
				height: 45px;
				@include absolute-center;

				@include breakpoint(medium) {
					width: 65px;
					height: 65px;
				}
			}
		}

		&-text {
			width: calc(100% - 100px);
			display: inline-block;
			margin-top: 10px;

			@include breakpoint(medium) {
				margin-top: 0;
				width: calc(50% - 85px);
			}

			p:last-child {
				margin-bottom: 0;
			}
		}

		&.image-size-medium {
			img {
				@include breakpoint(medium) {
					height: 425px;
				}
			}
		}

		&.image-size-large {
			flex-direction: column;
			padding: 23px 0 60px;

			.sites-content-icon {
				@include breakpoint(medium) {
					order: 1;
					position: relative;
					top: 37px;
				}
			}

			.sites-content-image {
				width: 100%;
				order: 2;

				img {
					width: 100%;

					@include breakpoint(medium) {
						height: 710px;
					}
				}
			}

			.sites-content-text {
				order: 3;
				width: 100%;
				width: calc(100% - 100px);

				@include breakpoint(medium) {
					max-width: 585px;
				}

				p {
					@include breakpoint(medium) {
						padding: 40px 0;
					}
				}
			}

			&.text-above {
				.sites-content-icon {
					order: 2;
				}
				.sites-content-image {
					order: 3;
				}
				.sites-content-text {
					order: 1;
					position: relative;

					@include breakpoint(medium) {
						top: 37px;
					}
				}
			}
		}
	}
}

section:nth-of-type(even) .sites-wrapper .sites-content.image-size-large .sites-content-text p {
	background-color: $bg-grey;
}

section:nth-of-type(odd) .sites-wrapper .sites-content.image-size-large .sites-content-text p {
	background-color: $white;
}
