.itinerary-detour {
	padding: 20px 0 45px 73px;
	position: relative;

	@include breakpoint(medium) {
		padding: 75px 0;
	}

	.row {
		padding: 0 0 0 10px;
		min-height: 340px;

		@include breakpoint(medium) {
			padding: 0 10px;
			display: flex;
		}
	}

	&-image {
		@include bg-image;
		padding-bottom: 50%;

		@include breakpoint(medium) {
			padding-bottom: 0;
			flex: 1;
		}
	}

	&-text {
		background-color: #f1f1f2;

		@include breakpoint(medium) {
			flex: 1;
		}

		& > div {
			padding: 20px;

			@include breakpoint(medium) {
				padding: 40px;
			}
		}

		h3 {
			color: $black;
			font-size: 16px;
			font-family: $body-bold;
			margin-bottom: 15px;
		}

		a {
			color: $black !important;
			font-family: $body-bold;
			@include primary-link($black);
			border-bottom: solid 2px transparent !important;

			&:hover {
				border-bottom: solid 2px $black !important;
			}
		}
	}

	.itinerary-line {
		position: absolute;
		left: 37px;
		top: 0;
		height: 100%;

		@include breakpoint(medium) {
			display: none;
		}
	}
}
