// This is used in both the itineraries post and page

.itinerary-overview {
	.quick-info {
		margin-bottom: 42px;
		overflow: hidden;

		&-item {
			text-align: center;
		}

		&-icon {
			width: 52px;
			height: 52px;
			margin-bottom: 10px;
		}
	}

	.overview-body {
		p {
			@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 21px, 28px);
			line-height: 1.418;
			font-family: $heading-font;

			@include breakpoint(medium) {
				margin-bottom: 16px;
			}

			@include breakpoint(large) {
				margin-bottom: 36px;
			}
		}

		a {
			font-weight: bold;
		}

		.btn.itineraries-pdf {
			display: none;
			position: relative;

			img {
				width: 26px;
				height: 26px;
				@include absolute-center;
			}

			@include breakpoint(xlarge) {
				display: inline-block;
			}
		}
	}
}
