.itinerary-scroll-nav {
	box-shadow: 0px 4px 10px -5px rgba($black, 0.5);
	background-color: $white;
	padding: 30px 0 30px;
	width: 100%;
	transition: padding 0.3s ease-out;

	&.active {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 9999;
		padding: 10px 0;
	}

	.row {
		display: flex;
		align-items: center;
	}

	&-key {
		width: 100%;
		max-width: 70px;
		display: inline-block;
		text-transform: uppercase;
		font-family: $condensed-bold;
		font-size: 21px;
		margin: 0;

		@include breakpoint(medium) {
			max-width: 121px;
		}
	}

	&-list {
		width: calc(100% - 100px);
		position: relative;

		@include breakpoint(medium) {
			width: calc(100% - 155px);
		}

		li {
			&.active {
				a span {
					color: $white;
				}
			}

			a {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;

				&:hover span {
					color: $white;
				}

				&:focus {
					outline: none;
				}

				span {
					font-family: $condensed;
					display: inline-block;
					margin: auto;
					font-size: 21px;
				}
			}
		}
	}

	&-more {
		@include btn-reset;
		@include vertical-center;

		&.nav-more-prev {
			left: -25px;

			@include breakpoint(medium) {
				left: -50px;
			}
		}

		&.nav-more-prev[aria-disabled='true'],
		&.nav-more-next[aria-disabled='true'] {
			display: none !important;
		}

		&.nav-more-next {
			right: -20px;
		}
	}
}
