.itinerary-start {
	padding-top: 60px;
	display: none;

	@include breakpoint(medium) {
		display: block;
	}

	.row {
		position: relative;
	}

	.itinerary-path {
		width: 92px;
		margin: 0 auto;

		svg {
			width: 54px;
			height: 54px;
			display: block;
			margin: 0 auto 10px;
		}
	}

	.itinerary-line {
		height: 120px;
		overflow-y: hidden;

		&:before {
			content: '';
			display: block;
			margin: 0 auto 8px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}
	}
}

.itinerary-distance {
	position: absolute;
	display: none;
	justify-content: center;
	bottom: 20px;
	left: 0;
	width: 100%;
	font-family: $body-font;

	@include breakpoint(medium) {
		display: flex;
	}

	&-left {
		font-family: $body-bold;
	}

	&-left,
	&-right {
		display: block;
		width: 50%;
	}

	&-left {
		padding-right: 13px;
		text-align: right;
	}

	&-right {
		padding-left: 13px;
	}
}

.itinerary-section {
	padding-bottom: 0;

	a {
		color: $black !important;
	}

	& > .row {
		text-align: left;

		@include breakpoint(medium) {
			text-align: center;
		}
	}

	&#day-1 .day-top {
		.itinerary-line {
			height: calc(100% - 80px);
			top: 80px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -20px;
				right: -3px;
				margin: 0 auto 8px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
			}
		}

		.itinerary-distance {
			top: 103px;
		}

		.itinerary-icon {
			display: block;
			left: -68px;
			position: relative;
		}
	}

	.day-top {
		padding-bottom: 15px;
		padding-left: 83px;
		position: relative;

		@include breakpoint(medium) {
			padding-bottom: 50px;
			padding-left: 20px;
		}

		.itinerary-icon {
			display: none;
			width: 48px;
			height: 48px;

			@include breakpoint(medium) {
				display: none !important;
			}
		}

		.itinerary-distance {
			display: block;
			width: 80px;
			height: 45px;
			top: 48px;
			z-index: 1;

			.itinerary-distance-left,
			.itinerary-distance-right {
				text-align: center;
				display: block;
				padding: 0;
				margin: 0 auto;
				width: 100%;
				font-size: 14px;
			}

			@include breakpoint(medium) {
				display: none;
			}
		}

		.itinerary-line {
			position: absolute;
			left: 37px;
			top: -30px;
			height: calc(100% + 30px);
			@include breakpoint(medium) {
				display: none;
			}
		}

		h3 {
			text-transform: uppercase;
			font-size: 21px;
			margin-bottom: 0;
			font-family: $condensed;
		}

		h2 {
			margin: 0;
			&:before {
				content: none;
			}
		}

		p {
			max-width: 650px;
			margin: 10px auto 0;

			@include breakpoint(medium) {
				margin: 24px auto 0;
			}
		}

		a {
			color: $black !important;
			margin-top: 16px;
			display: inline-block;

			@include breakpoint(medium) {
				margin-top: 30px;
			}
		}
	}
}

section:nth-of-type(even) .day-top .itinerary-distance {
	background-color: $bg-grey;
}

section:nth-of-type(odd) .day-top .itinerary-distance {
	background-color: $white;
}
