.button-wrapper {
  .btn {
    display: inline-block;
    border: 0;
    font-weight: 400;
    font-family: open_sansextrabold,sans-serif;
    line-height: 1.3;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: none;
    outline: none;
    letter-spacing: -.6px;
    width: 85%;
    min-width: 270px;
    width: auto;

    &.btn-ghost {
      border: solid 3px #639083!important;
      color: $white;

      &:hover {
        background: #639083;
        color: #fff;
      }
    }

    &.ghost-black-text {
      color: #000;

      &:hover {
        color: #fff;
      }
    }

    &.btn-medium {
      @media screen and (min-width: 40em) {
        padding: 16px 40px;
      }
    }
  }
}