body {

  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1280px;
      width: 100%;
    }
  }

  .container-fluid {
    padding: 0;

    .row {
      max-width: 100%;
    }
  }

  @import 'background-colours';

  h1 {
    font-size: 76px;
    @media (min-width: 640px) {
      font-size: 55px;
    }
  }

  h2 {
    font-size: 55px;
  }

  h4 {
    font-size: 28.8px;
  }
}