/**Landing Page**/
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$blackColor: #000000;
$whiteColor: #ffffff;
$primaryDealColor: #00625e;
$viewDealBorder: #006774;
$dealBorderColor: #b7b7b7;
$filterBorder: #a1a1a1;
$seeMoreBorder: #517e70;
$textBorder: #707070;
$graySection: #edecec;
$signupBorder: #1f5668;
$topLineColor: #5a8a7b;
$dealPageColor: #6ea0ae;

.landing-page-template {    
    font-family: 'OpenSans-Regular',sans-serif;
    .columns{
        &:last-child:not(:first-child){
            float: left;
        }
    }
    section:nth-of-type(2n){
        background-color: $graySection;
    }
    h2{
        font-family: 'OpenSans-Regular', sans-serif;
        font-size: 50px;
        &:before {
            width: 38px;
            border-bottom: 2px solid #5a8a7b;
        }
    }
    p, h4{
       font-family: 'OpenSans-Regular',sans-serif; 
    }
    a{
        border-bottom-width: 0;
        font-family: 'OpenSans-Regular',sans-serif; 
    }  
    strong{
        font-weight: bold;
    }
    .caps{
        text-transform: uppercase;
        a, span, strong{
            text-transform: uppercase;
        }
    }
    .header-logo{
        height: 80px;
        fill: #fff;
    }
    .header-main{
        background-color: $primaryDealColor;
        padding: 10px;
        padding-bottom: 0px;
    }
    .logo{
        width: 200px;
    }
    .top-caption{
        text-align: right;
        padding-top: 20px;
    }
    .top-caption img{
        width: 390px;
    }
    .back-arrow{
        display: none;
    }
    #videoBG {
        /*position:fixed;*/
        z-index: -1;
    /*not work if the screen ratio is below 16/9*/
        width:100%;     
        height: auto;
    }
    video{
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        height: 50% !important;
        min-height: 100% !important;
        min-width: 100%;
        object-fit: cover;
    }
    /** Vimeo Video CSS **/
    .embed-container { 
        position: relative; 
        padding-bottom: 56.25%; 
        height: 0; 
        overflow: hidden; 
        max-width: 100%; 
        z-index: -1;
        background-image: url(../images/landing-page/banner-2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        iframe, object, embed{
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
        }
    } 
    .see-more{
        margin-top: 0;
    }
    .grid-container{
        letter-spacing: 1px;
        padding-bottom: 15px;        
        padding-top: 20px;
        background-color: #fff;
        h3{
           margin-bottom: 0; 
        }
        h4{
            padding: 0;
            margin: 0;
            line-height: 36px;
            max-height: 74px;
            overflow-y: hidden;
        }
        h5{
            max-height: 42px;
            line-height: 22px;
            overflow-y: hidden;
            max-width: 70%;
        }
        .grid-image{
            img{
                height: auto;
                max-height: 364px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            display: grid;
        }
        .grid-details{
            border: 2px solid $dealBorderColor;
            border-top: 0 none;
            margin-bottom: 35px;
            padding: 18px 20px 30px;
            background-color: $whiteColor;
            height: 190px;
            position: relative;
            a,h3, h4, h5, h6, span, strong{
                color: $primaryDealColor;
            }
        }
        .view-deal{
            border: 2px solid $viewDealBorder;
            border-radius: 16px;
            padding: 6px 15px;
            float: right;
            font-weight: bold;
            text-transform: uppercase;
            font-family: "OpenSans-ExtraBold",sans-serif;
            position: absolute;
            color: $blackColor !important;
            right: 5%;
            bottom: 15%;
        }

        
        .location-icon{
            font-size: 20px;
            font-family: "OpenSans-Light",sans-serif;     
            display: block;
            margin-top: 4px;
            i{
                width: 20px;
            }
        }
    }
    .grid-container-list{
        h3{
            margin-bottom: 0; 
         }
         h4{
             padding: 0;
             margin: 0;
             font-size: 18px;
             line-height: 20px;
             max-height: 42px;
             overflow-y: hidden;
             padding-bottom: 2px;
         }
         h5{
            font-size: 14px;
         }
         .grid-image{
             display: grid;
             border: 2px solid $dealBorderColor;
             border-bottom: 0;
             img{
                height: 238px;
                object-fit: cover;
                object-position: center;
             }
         }
         .grid-details{
            position: relative;
            border: 2px solid $dealBorderColor;
            border-top: 0 none;
            margin-bottom: 35px;
            padding: 10px 20px 40px;
            background-color: $whiteColor;
            height: 150px;
            a,h3, h4, h5, h6, span, strong{
                 color: $primaryDealColor;
             }
         }
         .view-deal{
            border: 2px solid $viewDealBorder;
            border-radius: 16px;
            padding: 4px 10px;
            float: right;
            font-weight: 700;
            text-transform: uppercase;
            color: $blackColor !important;
            font-size: 90%;
            font-family: "OpenSans-ExtraBold",sans-serif;
            margin-top: 5px;
            position: absolute;
            bottom: 15px;
            right: 15px;
         }
         
        .location-icon{
            font-size: 14px;
            font-family: "OpenSans-Regular",sans-serif;
            i{
                width: 14px;
            }
        }
    }
    
    .view-deal:hover{
        background-color: $viewDealBorder;
        color: $whiteColor !important;
    }
    /** Tab Filter **/
    ul.tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
        li{
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 12px;
            cursor: pointer;
            border: 2px solid $filterBorder;
            text-transform: uppercase;        
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
            &.current, &:hover{
                background: $filterBorder;
                color: $whiteColor;
            }
        }
    }
    .tab-content{
        display: none;
        //padding: 20px;
    }
    .tab-load{
        //padding: 20px;
    }
    .tab-content.current{
        display: inherit;
    }
    .btn-medium{
        &.btn-ghost{
            &.btn-margin{
                font-weight: bold;
                font-family: "OpenSans-ExtraBold",sans-serif;
                border: 3px solid $seeMoreBorder;
            }
            &:hover{
                background-color: $seeMoreBorder;
            }
        }
    }
        

    .nf-form-content{
        input[type=button]{
            margin-top: 25px;
            min-width: 25%;
            width: 115px;
            font-family: "OpenSans-ExtraBold",sans-serif;
            margin-top: 25px;
            min-width: 125px;
            border: 3px solid $signupBorder;
            background-color: $whiteColor;
            color: $signupBorder;
            border-radius: 50px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                background-color: $signupBorder !important;
                color: $whiteColor;
            }
        }
        input[type=email]{
            padding: 15px;
            width: 100%;
            border: 2px solid $textBorder;
            background-color: $whiteColor;
        }
    }
    .text-input{
        padding: 15px;
        width: 100%;
        border: 2px solid $textBorder;
    }
    .btn-small{
        font-weight: bold;
    }
    
    footer.footer{
        background-color: $primaryDealColor;
        border-top: 0px none;
        i{
            font-size: 24px;
        }
        h4{
            margin: 0;
            font-size: 20px;
        }
        .footer-label{
            text-align: right;
            margin-top: 6px;
        }
        .social-icons{
            margin-top: 10px;
        }
        .row:last-child{
            border: 0 none;
        }
        .row:first-child, .row:last-child{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    
    .back-to, .terms{
        text-transform: uppercase;
        color: $primaryDealColor;
        display: inline-flex;
        font-size: 20px;
        i{
            font-size: 28px;
            margin-right: 8px;
        }
        span{
            border-bottom: 2px solid $primaryDealColor;
        }
    }
    .terms{
        font-size: 18px;
        i{
            font-size: 28px;
            margin-left: 8px;
        }
    }
    .book-now{
        background-color: $primaryDealColor;
        padding: 12px 20px;
        color: $whiteColor;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 14px;
    }
    .bottom-content{
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid;
        background-color: $graySection !important;
    }
    
    #signup-btn, .signup-btn{
        font-family: "OpenSans-ExtraBold",sans-serif;
    }
    .nf-form-fields-required{
        display: none;
    }
    #ninja_forms_required_items, .nf-field-container{
        margin-bottom: 0;
    }
    #individual-deal{
        h4{
            color: #00625e;
            line-height: 36px;
            padding: 0;
            margin: 0;
        }
        h3, h5{
            color: #00625e;
            margin-bottom: 0; 
         }
        .location-icon{
            font-size: 18px;
            font-family: "OpenSans-Light",sans-serif;
            color: #00625e;
            display: block;
            margin-bottom: 5px;
            i{
                width: 16px;
            }
        }
        .details-container{
            margin-top: 32px;
        }
        .book-container{
            margin-top: 20px;
            color: $primaryDealColor;
            clear: both;
            margin-bottom: 20px;
            .small-6{
                padding-left: 0;
                padding-right: 0;
            }
            .book-btn{
                margin-top: 10px;
            }
            .promo-code-container{
                background-color: $graySection;
                padding-left: 14px;
                padding-top: 2px;
                padding-bottom: 2px;
                width: 160px;
                strong{
                    letter-spacing: 1px;
                }
            }

        }
    }
    
    .loading-image{
        margin: auto;
        margin-top: 30px;
        height: 30px;
    }
}
@media (min-aspect-ratio: 16/9) {
    .landing-page-template {
        #videoBG {
            height: auto;
        }
    }
}
@media (max-aspect-ratio: 16/9) {
    .landing-page-template {
        #videoBG { 
            height: 100%;
        }
    }
}
@media (min-width: 1024px){
    .landing-page-template {
        h2+p {
            font-size: 26px;
            line-height: 32px;
        }        
        #individual-deal{
            h5{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .landing-page-template {
        .book-now{
            font-size: 16px;
        }
        .grid-container{
            h4{
                line-height: 30px;
                max-height: 63px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .landing-page-template {
        .logo{
            width: 200px;
        }
        .book-now{
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .landing-page-template{
        #signup-btn, .signup-btn{
            margin-top: 25px;
            min-width: 125px;
        }
        .tab-content, .tab-load{
            &.current{
                display: flex;
            }
            .medium-3, .large-3{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .grid-container{
            padding-left: 20px;
            padding-right: 20px;
    
        }
        .grid-container-list{
            margin-bottom: 34px;
            .location-icon{
                line-height: 15px;
                display: block;
                margin-top: 2px;
                max-width: 56%;
                max-height: 32px;
                overflow-y: hidden;
                padding-left: 14px;
                i{
                    position: absolute;
                    left: 21px;
                }
            }
        }
        ul.tabs{
            li{
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .signup-wrapper{
            h3{
                margin-bottom: 0;
            }

        }
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    #individual-deal{
        .medium-7.columns, .large-7.columns{
            float: right;
        }
        .promo-code-container{
            padding-top: 0px;
            padding-bottom: 0px;            
            font-size: 16px;
        }
    }
    
}
@media screen and (max-width: 1024px) {
    .landing-page-template {
        
        h2{
            font-size: 24px;
        }
        .top-caption{
            display: none;
        }
        .header-container{
            text-align: center;
            position: relative;
        }
        .header-main{
            padding-bottom: 8px;
        }
        .back-arrow{
            position: absolute;
            left: -20px;
            display: block;
            top: 24px;
        }
        .back-arrow img{
            width: 40px;
        }
        .grid-image{
            img{
                max-height: 250px !important;
            }
            display: grid;
        }
        #signup-btn, .signup-btn{
            margin-top: 25px;
            margin-bottom: 25px;
            min-width: 25%;
            width: 115px;
        }
        .nf-form-content{
            input[type=button]{
                margin-top: 25px;
                margin-bottom: 25px;
                min-width: 25%;
                width: 115px;
            }
        }
        /** Tab Filter **/
        ul.tabs{
            text-align: left;
            margin-left: 5px !important;
            margin-right: 5px !important;
            li{
                padding: 4px 12px;
                font-size: 14px;
                background-color: #f6f6f6;
                border-color: #a1a1a1;
                &.current, &:hover{
                    border-color: #a1a1a1 !important;
                }
            }
            
        }
        .tab-content{
            .large-12{
                margin-right: 0;
                margin-left: 0;
                .columns{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .tab-load{
            .columns{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .grid-container{
            h4{
                line-height: 30px;
                max-height: 64px;
            }
            h5, .location-icon{
                font-size: 16px;
            }
        }
        .grid-container-list {
            .grid-image{
                float: left;
                width: 30%;
                border: 2px solid $dealBorderColor;
                border-right: 0;
                img{
                    height: 126px;
                    object-fit: cover;
                    width: 100%;
                }
            }
            .grid-details{
                float: left;
                width: 70%;
                border-left: 0 none;
                border-top: 2px solid $dealBorderColor;
                padding: 12px 15px 10px;
                height: 130px;
                background-color: $whiteColor;
                margin-bottom: 18px;
                h4{
                    height: 41px;
                    overflow-y: hidden;
                }
                .view-deal{
                    display: none;
                }
            }
            .filter-selection{
                border: 2px solid $filterBorder;
                margin: auto;
                margin-left: 35px;
                margin-right: 35px;
                padding: 10px 15px;
                margin-bottom: 20px;
                background-color: $whiteColor;
                cursor: pointer;
                .close-icon{
                    float: right;
                    margin-top: 2px;
                    font-size: 20px;
                }
                .close-icon.fa-angle-down{
                    margin-top: -3px;
                    font-size: 28px;
                    font-weight: bold;
                }
            }
        }
        .signup-wrapper{
            padding-bottom: 0;
            .medium-7, .large-7{
                padding-left: 0;
                padding-right: 0;
                line-height: 0;
            }
        }
    }
    footer.footer{
        .footer-label{
            text-align: center !important;
            padding: 0;
            margin-top: 8px;
        }
        .social-icons{
            padding: 0;
        }
        h4 {
            font-size: 15px !important;
        }
        i{
            font-size: 20px !important;
        }
    }
    #individual-deal{
        padding-top: 0;
        h4{
            margin-top: 5px !important;
            line-height: 28px !important; 
        }
        h5, .location-icon{
            font-size: 15px !important;
        }
        .details-container{
            margin-top: 0 !important;
            .medium-7.columns, .large-7.columns{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .book-container {

            .book-btn {
                margin-top: 10px;
                float: right;
                text-align: right;
            }
        }
    }
    
    .back-to, .terms{
        font-size: 18px !important;
        i{
            font-size: 25px !important;
        }
    }
    .back-to{            
        margin-top: 20px !important;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}


@media screen and (max-width: 450px) {
    .landing-page-template{
        .grid-container{
            h4{
                font-size: 18px;
                line-height: 22px;
            }
            h5, .location-icon{
                font-size: 14px;
                line-height: 18px;
            }
            h5{
                max-height: 32px !important;
            }
            .view-deal{
                padding: 6px 10px;
                font-size: 12px;
            }
            .grid-details{
                height: 146px;
            }
        }
        .grid-container-list{
            .grid-details{
                padding: 5px 10px 10px;
                height: 104px;
                h5{
                    max-height: 24px;
                    overflow: hidden;
                }
                .location-icon{
                    max-height: 22px;
                    display: block;
                    overflow-y: hidden;
                }
            }
            .grid-image{
                img{
                    height: 100px;
                }                
            }
            h4{
                height: 36px !important;
                line-height: 18px !important;
                font-size: 15px !important;
            }
            h2{
                font-size: 22px;
                margin-bottom: 4px;
            }
            p{
                line-height: 20px;
            }
        }
    }
    .see-more{
        width: 60%;
        min-width: 220px;
    }
    footer.footer{
        .footer-label{
            margin-top: 10px !important;
            h4{
                font-size: 14px !important;
            }
        }
    }
}

.landing-page-template.things-to-do{
	h2{
        font-family: open_sanslight,sans-serif;
        &:before {
            border-bottom: solid 3px $dealPageColor;
			margin:0 auto 2px;
			width: 60px;
        }
    }
	.grid-container-list .location-icon i{
		position: inherit;
		width: auto;
	}
	.grid-container-list .location-icon{
		padding-left: 0;
	}
	.location-icon{
		font-size: 12px;
	}
	.custom-post-tile .custom-post-tile-text p {
		font-size: 12px;
		text-transform: uppercase;
	}
	.tile-4-list li, .tile-3-list li, .tile-2-list li {
		padding: 10px;
		border: none;
	}
	.tile-4-list li, .tile-3-list li {
		height: 300px;
	}
	.tile-2-list li {
		height: 200px;
	}
	ul.tabs li{
		border: 2px solid #1f5668;
		border-radius: 40px;
		padding: 5px 12px;
	}
	ul.tabs li.current, ul.tabs li:hover{
		background: #1f5668;
	}
	.tab-content.current, .tab-load.current {
		display: block;
	}
	.loading-image{
		display: flex;
	}
	h2 + p {
        font-size: 16px;
		line-height: inherit;
	}
	footer.footer {
		background-color:#f6f6f6;
		border-top: 1px solid #d2d2d2;
	}
	footer.footer .row:first-child {
		margin-bottom: 30px;
	}
	.location-icon i{
		padding: 0 5px 0 0;
	}
	.custom-post-tile{
		min-height: auto;
	}
}
@media screen and (max-width: 1024px) {
    .landing-page-template.things-to-do{
		h2{
            font-size: 38px;
        }
		.custom-post-tile{
			min-height: auto;
		}
	}
}
@media screen and (max-width: 1024px) {
    .landing-page-template.things-to-do{
		h2{
            font-size: 38px;
        }
		.custom-post-tile{
			min-height: auto;
		}
	}
}
@media only screen and (max-width: 480px) {
	.grid-container-list .row .row{
		margin-right: 0px;
		margin-left: 0px;
	}
	.landing-page-template .tab-load{
		padding: 0px;
	}
	.landing-page-template.things-to-do .tile-3-list li{
		padding: 2px;
	}
}