.tiles-5-up {
	&.one-up {
		li {
			width: 100% !important;
		}
	}

	&.two-up {
		li {
			height: 275px;

			@include breakpoint(medium) {
				height: 474px;
			}
		}
	}

	&.four-up {
		li:last-child {
			width: 100%;

			@include breakpoint(large) {
				width: 50%;
			}
		}
	}

	li {
		padding: 2px;
		height: 125px;
		margin-bottom: 0;
		float: left;

		@include breakpoint(medium) {
			padding: 5px;
			padding: 7px;
			height: 237px;
		}

		@include breakpoint(large) {
			padding: 15px;
		}
	}

	li:first-child {
		width: 100%;
		height: 275px;

		@include breakpoint(medium) {
			height: 474px;
			width: 50%;
			padding-right: 7px;
		}

		@include breakpoint(large) {
			padding: 15px;
		}
	}
}
