.contact-form-generic-wrapper {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;

	.nf-before-form-content {
		display: none;
	}

	.nf-error-required-error,
	.nf-error-field-errors {
		font-family: $body-font;
	}

	label {
		font-family: $body-font;
	}

	input {
		padding: 10px;
		font-family: $body-font;
		border: solid 1px $light-grey;
	}

	textarea {
		border: solid 1px $light-grey;
	}

	input[type=button] {
		padding: 10px 40px;
		background-color: transparent;
		color: $black;
	}
}