.hero-product {
	width: 100%;
	height: auto;
	position: relative;
	padding: 100px 0 95px;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	& > img {
		@include absolute-center;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	@include breakpoint(large) {
		&:after {
			@include top-gradient;
		}
	}

	@include breakpoint(large) {
		height: 100vh;
		min-height: 890px;
	}

	&-content {
		position: relative;
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 1200px;

		@include breakpoint(large) {
			@include absolute-center;
			top: calc(50% + 30px);
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.6);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 30px 60px;
			}

			h1 {
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 36px, 55px);
			}

			p {
				margin-bottom: 0;
			}
		}

		.details-detail {
			position: relative;
			min-height: 26px;

			&-website-link {
				position: absolute;
			    left: 50%;
			    transform: translateX(-50%);
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			    max-width: 210px;
			}

			&-email-link {
				text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			    max-width: 210px;
			    display: inline-block;

			    @include breakpoint(medium) {
			    	max-width: 250px;
			    }

			    @include breakpoint(large) {
			    	max-width: 330px;
			    }
			}
		}

		span.hero-product-type {
			font-family: $condensed;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 2px;
			font-size: 20px;
			font-weight: 300;

			@include breakpoint(medium) {
				margin-bottom: 5px;
			}
		}

		h1 {
			color: $white;
			font-family: $condensed;
			margin: 0 auto 30px;
			padding-bottom: 15px;
			max-width: 750px;
			font-weight: 300;
			text-transform: uppercase;
			border-bottom: 1px solid $white;

			@include breakpoint(medium) {
				margin: 0 auto 30px;
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		ul.hero-product-details {
			max-width: 900px;
    		margin: 0 auto;
			padding: 0;
			
			@include breakpoint(medium) {
				padding: 30px 0;
			}

			@include breakpoint(large) {
				display: flex;
				flex-direction: row;
			}

			.cdsComponent.cdsRating i.fa {
				font-size: 37px;
				position: relative;
    			top: 3.5px;
    			right: 1px;
			}

			#trip-advisor-hero-rating {

				span.ui_bubble_rating {
					font-size: 24px;
					margin-bottom: 10px;

					&:before {
						color: transparent;
					}

					&:after {
						color: $white;
					}
				}

				span:not(.ui_bubble_rating) {
					font-size: 15px;
					font-family: $body-font;
					-webkit-font-smoothing: antialiased;
    				-moz-osx-font-smoothing: grayscale;

    				&:before {
    					content: 'Based on ';
    				}
				}
			}

			.details-rating {

				.star-wrapper {
					width: 95px;
				}

				span {
					margin: 7px auto 0;
				    height: 19px;
				    display: block;
				    background-size: 19px 36px;
				    background-repeat: repeat-x;
				}
			}

			li {
				text-align: center;
				margin: 0 20px 30px 15px;
				vertical-align: top;
				width: 100%;
				max-width: 200px;

				@include breakpoint(large) {
					margin: 0 10px;
					flex-grow: 1;
					max-width: none;
				}

				i.fa:not(.brand) {
					font-size: 20px;
					display: none;

					@include breakpoint(medium) {
						display: inline-block;
					}
				}

				.details-title {
					font-weight: bold;
				}

				a {
					color: $white;
					border-bottom: solid 1px $white;
					font-weight: normal;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;

					&:hover,
					&:focus {
						border-bottom: solid 1px $white;
					}
				}
			}

			&-row-1 {

				@include breakpoint(medium) {
					border-top: 1px solid $white;
				}
			}

			&-row-2 {

				@include breakpoint(medium) {
					border-top: 1px solid $white;
				}
			}

			.details-social {

				&-link {
					color: $white;
					display: inline-block;
					margin: 10px 5px;
					border: none;

					&:hover,
					&:focus {
						border: none;
					}

					i.fa {
						font-size: 25px;
						display: block!important;
					}
				}
			}
		}
	}
}