$footerBottomSpacing: 20px;

footer.footer {
	width: 100%;
	padding: 20px 0;
	background-color: $bg-grey;
	border-top: 1px solid $light-grey;

	h5,
	.menu li:first-child a {
		line-height: 0.9;
		display: inline-block;
		width: 100%;
		// font-weight: bold !important;
		border-bottom: solid 1px $light-grey !important;
		color: $dark-blue !important;
		font-family: $condensed-bold;
		padding-bottom: 10px;
		font-size: 15px;
		line-height: 1.3;
		text-transform: uppercase;
		margin: 0 0 10px 0;
	}

	h5.menu-item-header-mobile {
		text-align: center;
		font-size: 20px;

		@include breakpoint(medium) {
			display: none;

			&.useful-links-heading {
				display: inline-block;
				font-size: 15px;
				text-align: left;
			}
		}

		&.active {
			&:after {
				transform: rotate(90deg);
			}
		}

		@include breakpoint(small only) {
			&:after {
				content: '\F054';
				font-family: FontAwesome;
				font-size: 15px;
				display: inline-block;
				position: relative;
				top: -1px;
				left: 7px;
				transform: rotate(0);
				transition: transform 0.3s;
			}
		}
	}

	.menu li:first-child a {
		display: none;

		@include breakpoint(medium) {
			display: inline-block;
		}
	}

	#menu-things-to-do-menu li:first-child {
		width: 100% !important;
	}

	#menu-useful-links-menu li a {
		color: $footer-links !important;
		border-bottom: 0;
		text-transform: initial;
		font-weight: normal !important;
		padding-bottom: 0;
		margin: 0;
		border-bottom: solid 1px transparent !important;

		@include breakpoint(medium) {
			&:hover,
			&:focus {
				border-bottom: solid 1px $footer-links !important;
			}
		}
	}

	#menu-useful-links-menu li a:first-child {
		font-family: $body-font;
		font-size: 13px;
	}

	.useful-links-heading {
		@include breakpoint(large) {
			margin-top: 10px;
		}
	}

	#menu-footer-legal-menu li a {
		border-bottom: 0;
		font-family: $condensed-bold;
	}

	.footer-menus {
		ul.menu {
			display: none;
			text-align: center;
			list-style: none;
			padding: 0;
			margin: 0 0 20px;
			font-size: 13px;
			overflow: hidden;

			@include breakpoint(medium) {
				display: block;
				text-align: left;
			}

			li {
				margin-bottom: 6px;

				a {
					color: $footer-links;
					font-weight: normal;
					border-bottom: solid 1px transparent;

					@include breakpoint(medium) {
						&:hover {
							border-bottom: solid 1px $footer-links;
						}
					}
				}
			}
		}

		ul#menu-things-to-do-menu {
			li {
				float: left;
				width: 50%;
				padding-right: 5px;
			}
		}
	}

	.row:first-child {
		border-bottom: solid 1px $light-grey;
		margin-bottom: 30px;
	}

	.row:last-child {
		margin-top: 10px;

		@include breakpoint(medium) {
			border-top: solid 1px $light-grey;
		}
	}

	.footer-social {
		display: block;
		text-align: center;
		margin: 20px 0 10px;

		@include breakpoint(medium) {
			text-align: left;
			margin: 0;
			display: inline-block;
			width: calc(100% - 80px);
		}

		h5 {
			margin: 0;
			display: inline-block;
			border: 0 !important;
			font-size: 25px;
			font-family: $condensed-bold;
			font-weight: normal;
			color: $black !important;

			@include breakpoint(medium) {
				font-size: 15px;
				display: inline;
				margin: 0 30px 10px 0;
			}
		}

		&-list {
			display: inline-block;
			margin: 0;
			margin-bottom: $footerBottomSpacing;

			li {
				margin: 0 5px;
			}

			@include breakpoint(medium) {
				li {
					margin-right: 20px;

					li:last-child {
						margin-right: 0;
					}
				}
			}

			.social-link {
				$icon-size: 50px;
				display: flex;
				background-color: transparent;
				width: $icon-size;
				height: $icon-size;
				border-radius: 50%;
				border: solid 2px $dark-blue;

				@include breakpoint(medium) {
					$icon-size: 40px;
					width: $icon-size;
					height: $icon-size;
				}

				&:hover,
				&:focus {
					background-color: $dark-blue;

					i.fa {
						color: $white;
					}
				}

				i.fa {
					color: $black;
					font-size: $icon-size / 1.4;
					display: inline-block;
					margin: auto;

					@include breakpoint(medium) {
						font-size: $icon-size / 2;
					}
				}
			}
		}
	}

	.back-to-top-wrapper {
		height: 65px;
		border-bottom: 1px solid $light-grey;

		@include breakpoint(medium) {
			height: auto;
			display: inline-block;
			border-bottom: none;
			float: right;
		}

		p {
			display: inline-block;
			font-family: $condensed-bold;
			// font-weight: bold;
			color: $dark-blue;
			font-size: 25px;
			text-transform: uppercase;
			position: relative;
			top: 3px;

			@include breakpoint(medium) {
				display: none;
			}
		}
	}

	.back-to-top-btn {
		float: right;
		position: relative;
		outline: none;
		padding: 0;

		@include breakpoint(medium) {
			top: -5px;
		}
	}

	.small-icon-btn {
		border: solid 2px $dark-blue;
		background-color: transparent;
		display: flex;
		width: 50px;
		height: 50px;
		// margin-left: 10px;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			background-color: $dark-blue;
			outline: none;

			i.fa {
				color: $white;
			}
		}

		i.fa {
			color: $black;
			margin: auto;
			font-size: 30px;
			height: 33px;
			letter-spacing: 0;
		}
	}

	.footer-subscribe {
		text-align: center;
		margin-bottom: 40px;

		@include breakpoint(medium) {
			text-align: left;
			margin-bottom: 0;
		}

		.nf-before-form-content,
		.nf-form-title {
			display: none;
		}

		.nf-error-msg {
			font-family: $body-font;
		}

		.nf-response-msg p {
			color: $green;
			font-weight: bold;
		}

		h5 {
			margin: 0;
			font-family: $condensed-bold;
			font-size: 25px;
			color: $black !important;
			border-bottom: none !important;

			@include breakpoint(medium) {
				margin: 0 0 13px;
				border-bottom: solid 1px $light-grey !important;
				font-size: 15px;
			}
		}

		p {
			font-size: 13px;
		}

		input.btn.btn-ghost.btn-small {
			border: 2px solid $dark-blue !important;
			padding: 13px 30px 12px;
			min-width: auto;

			&:hover,
			&:focus {
				background-color: $dark-blue !important;
			}
		}

		&-form {
			width: 100%;
		}

		&-input[type='email'] {
			border: solid 1px $light-grey;
			display: block;
			padding: 10px 14px;
			width: 100%;
			outline: none;
		}
	}

	.footer-logo {
		width: 130px;
		height: 66px;
		margin: 16px auto 0;
		display: block;
		fill: $dark-blue;

		@include breakpoint(medium) {
			display: inline;
			margin: 16px 0 0;
		}
	}

	.footer-legal {
		padding: 20px 0;
		text-align: center;
		position: relative;
		color: $footer-links;

		@include breakpoint(large) {
			text-align: left;
		}

		.footer-copyright {
			font-size: 12px;
			padding-top: 10px;
			margin-bottom: 0;
		}

		&-menu {
			margin-bottom: 10px;

			.menu {
				list-style: none;
				padding: 0;
				margin: 0;

				@include breakpoint(medium) {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}

				li {
					display: inline-block;

					a {
						text-transform: uppercase;
						color: $dark-blue;
						border: 0 !important;
						font-size: 13px;
						margin: 0 10px;
						font-weight: normal;

						@include breakpoint(medium) {
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
}
