.custom-post-tile {
	display: block;
	position: relative;
	width: 100%;
	background-color: $grey;
	height: 100%;
	cursor: pointer;
	padding: 15px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	height: 100%;
	@include scale;

	@include breakpoint(medium) {
		min-height: 200px;
		height: 100%;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: calc(100% - 36px);
		height: calc(100% - 36px);
		border: solid 2px transparent;
		border-style: inset;
		z-index: 4;
		transition: border 0.3s ease-out;
	}

	&:after {
		@include bottom-gradient;
	}

	&:focus {
		border: none;
		outline: none;
	}

	&:hover,
	&:active {
		border: none;
		outline: none;

		@include breakpoint(medium) {
			@include scale-hover;

			&:before {
				border: solid 2px $white;
			}
		}
	}

	& > img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&-tag {
		position: absolute;
		font-weight: normal;
		text-transform: uppercase;
		top: 5px;
		right: 5px;
		background-color: rgba($black, 0.5);
		padding: 5px 15px;
		border-radius: 3px;
		font-size: 9px;
		color: $white;

		@include breakpoint(medium) {
			top: 30px;
			right: 30px;
		}
	}

	.custom-post-tile-text {
		display: inline-block;
		position: absolute;
		z-index: 3;
		bottom: 0;
		left: 0;
		margin: 0;
		width: 100%;
		padding: 10px;
		color: $white;
		transition: background-color 0.3s ease-out;

		@include breakpoint(medium) {
			font-size: $font-size;
			padding: 30px;
		}

		&-date {
			margin-bottom: 0px;
			display: inline-block;
			text-transform: uppercase;
			font-size: 10px;
			font-family: $body-bold;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;

			@include breakpoint(medium) {
				margin-bottom: 10px;
			}
		}

		h5 {
			color: $white;
			font-size: 13px;
			margin: 0;
			line-height: 1.3;
			font-family: $body-bold;
			font-weight: normal;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;

			@include breakpoint(medium) {
				font-size: 18px;
			}
		}

		p {
			margin: 7px 0 0px 0;
			font-weight: normal;
			font-size: 13px;

			@include breakpoint(medium) {
				margin: 10px 0 10px 0;
				font-size: 14px;
			}
		}

		&-view {
			text-transform: uppercase;
			display: none;
			font-weight: bold;
			font-size: 14px;
			padding-top: 5px;

			i.fa {
				font-weight: bold;
				font-size: 17px;
				margin-left: 3px;
			}

			i.fa-window-restore {
				font-weight: normal;
			}
		}
	}
}
