.looking-for-list {
	@include breakpoint(small down) {
		li:nth-child(odd) {
			clear: both;
		}
	}
}

.icon-tile {
	width: 100%;
	text-align: center;
	position: relative;
	margin-bottom: 10px;

	@include breakpoint(medium) {
		margin-bottom: 20px;
	}

	&-wrapper {
		display: inline-block;
		border: solid 2px $orange;
		background-color: transparent;
		border-radius: 50%;
		position: relative;
		width: 85px;
		height: 85px;

		@include breakpoint(medium) {
			width: 90px;
			height: 90px;
		}
	}

	&-link {
		display: inline-block;
		cursor: pointer;
		border: none;

		.icon-tile-icon {
			width: 57%;
			height: 57%;
			display: block;
			fill: $black;
			@include absolute-center;
		}

		&:hover,
		&:focus {
			border: none;

			.icon-tile-wrapper {
				background-color: $orange;
			}

			.icon-tile-icon {
				fill: $white;
			}

			h6 {
				color: $orange;
			}
		}

		h6 {
			top: 20px;
			margin-bottom: 0;
			text-transform: uppercase;
			font-family: $body-bold;
			display: block;
			height: 42px;
			font-size: 13px;

			@include breakpoint(medium) {
				height: auto;
				font-size: 17px;
			}

			i.fa {
				font-weight: bold;
				position: relative;
				left: 0px;
				top: -1px;
				font-size: 10px;
				display: inline;

				@include breakpoint(medium) {
					font-size: 13px;
				}
			}
		}
	}
}

// JP specific
:lang(ja) .icon-tile-link h6 {
	font-size: 15px;
}
