.simple-banner {

	&__desktop {
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}

	&__mobile {
		display: block;
		
		@include breakpoint(medium) {
			display: none;
		}
	}
}