.article-carousel,
.itineraries-carousel,
.influencer-post-carousel {
	width: 100%;
	position: relative;

	.slick-list {
		padding: 24px 0px 0px;

		@include breakpoint(medium) {
			padding: 24px 0px;
		}
	}

	.slick-dots {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: calc(100% - 40px);
		margin: 10px auto 20px;
		padding: 0;
		list-style: none;

		li {
			height: auto !important;
			margin: 0;
			flex: 1;

			&.slick-active button {
				background-color: $black;
			}

			button {
				background-color: $light-grey;
				padding: 0;
				height: 1px;
				width: 100%;
				border: 0;
				padding: 0;
				outline: 0;
				line-height: 0;
				font-size: 0;
				color: transparent;
				display: block;

				&:before {
					content: none;
				}
			}
		}
	}
}

.slick-prev-arrow,
.slick-next-arrow {
	display: inline-block;
	background-color: $white;
	box-shadow: 0px 3px 27px 0px rgba($black, 0.35);
	width: 55px;
	height: 55px;
	border-radius: 50%;
	@include vertical-center;
	top: 43%;
	right: 20px;
	z-index: 10;
	cursor: pointer;
	transform: translateX(0);
	transition: transform 0.3s ease-out;

	@include breakpoint(1385px) {
		right: -28px;
	}

	i.fa {
		@include absolute-center;
		left: 29px;
		font-size: 28px;
		color: $grey;
	}

	&:hover {
		transform: translateX(3px);
	}
}

.slick-prev-arrow {
	&:hover {
		transform: translateX(-3px);
	}
}

.influencer-post-carousel {
	.slick-next-arrow {
		right: 20px;
	}

	.slick-prev-arrow {
		left: 20px;
	}
}

.slick-dots {
	position: relative !important;

	li {
		height: auto !important;
	}
}

.slick-slide {
	outline: none;
}

.slick-prev-arrow {
	left: 20px;

	@include breakpoint(1385px) {
		left: -28px;
	}

	i.fa {
		left: 25px;
	}
}
