.map-carousel {
	.map-carousel-wrapper {
		background-color: $turquois;

		@include breakpoint(large) {
			margin: 26px 0;
		}

		.map-carousel-head {
			padding: 20px;

			@include breakpoint(medium) {
				padding: 26px 50px 10px;
			}

			h2 {
				margin: 0;

				@include breakpoint(medium) {
					margin-bottom: 16px;
				}
			}

			p {
				color: $white;
				display: none;

				@include breakpoint(medium) {
					display: inline-block;
				}
			}
		}
	}

	.map-carousel-carousel {
		background-color: $dark-brown;

		.carousel-item {
			@include bg-image;
			position: relative;
			min-height: 430px;
			outline: none;

			&:after {
				@include left-gradient;
			}

			&-image {
				@include absolute-center;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: cover;
				}
			}

			&-text {
				width: 100%;
				padding: 20px;
				position: relative;
				z-index: 2;

				@include breakpoint(medium) {
					width: 100%;
					padding: 30px 50px 10px;
					margin-bottom: 60px;
				}

				@include breakpoint(1460px) {
					width: 70%;
				}

				h4 {
					margin: 45px 0 20px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-size: 26px;
					line-height: 1.2;
					text-transform: uppercase;
					color: $white;

					@include breakpoint(medium) {
						font-size: 38px;
						margin: 30px 0 20px;
					}

					@include breakpoint(1460px) {
						margin: 0 0 20px;
						font-size: 40px;
					}
				}

				p {
					color: $white;
				}
			}

			&-link-wrapper {
				width: 100%;
				padding: 20px;
				background-color: rgba($black, 0.3);
				position: absolute;
				bottom: 0;
				z-index: 2;

				@include breakpoint(medium) {
					padding: 20px 50px;
				}

				a {
					color: $white;
					text-transform: uppercase;
					font-weight: bold;
					margin: 0;
					border-bottom: 2px solid transparent;

					&:hover,
					&:focus {
						border-bottom: 2px solid $white;
					}

					.fa {
						font-size: 14px;
					}
				}
			}
		}

		.slick-dots {
			position: absolute !important;
			top: 15px !important;
			left: 15px !important;
			height: 30px !important;
			text-align: left;
			width: calc(90% - 40px);
			padding: 0;
			display: flex;

			@include breakpoint(medium) {
				left: 40px !important;
				width: calc(60% - 40px);
			}

			li {
				margin: 0 3px;
				display: inline-block;
				flex: 1;
			}

			li.slick-active button {
				background-color: $orange;
			}

			li button {
				border: 0;
				padding: 0;
				outline: 0;
				line-height: 0;
				font-size: 0;
				color: transparent;
				display: block;
				background-color: $white;
				width: 10px;
				height: 10px;
				border-radius: 50%;
			}
		}

		&.slick-dotted.slick-slider {
			margin-bottom: 0 !important;
		}
	}

	.carousel-right {
		@include breakpoint(large) {
			max-width: 690px;
		}
	}

	.map-wrapper {
		position: relative;
		overflow: hidden;
	}

	#map-svg {
		display: block;
		vertical-align: bottom;
		float: right;
		width: 590px;
		height: 399px;
		position: relative;
		left: 25px;

		@include breakpoint(375px) {
			left: 5px;
		}

		@include breakpoint(390px) {
			left: 5px;
			width: 650px;
			height: 440px;
		}

		@include breakpoint(580px) {
			left: 0px;
			height: 644px;
			width: 952px;
		}

		@include breakpoint(678px) {
			height: 672px;
			width: 992px;
		}

		@include breakpoint(large) {
			left: 0;
			height: 746px;
			width: 1102px;
		}

		.cls-18,
		.cls-23 {
			font-family: $body-bold;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.map-place-name,
		.map-place-name-dots,
		.map-location-image,
		.image-container {
			visibility: hidden;

			@include breakpoint(medium) {
				visibility: visible;
			}
		}

		.image-container {
			display: none;
		}

		.cls-49 {
			transform: translate(-7px, 16.5px);
		}

		.cls-26,
		.cls-42 {
			font-family: $body-font;
			font-size: 7px;
			letter-spacing: 0.2px;

			@include breakpoint(medium) {
				font-size: 6px;
			}
		}

		.map-angle {
			font-family: FontAwesome;
			font-size: 7.5px;

			@include breakpoint(medium) {
				font-size: 7px;
			}
		}

		@include breakpoint(medium) {
			margin-right: 40px;
		}

		@include breakpoint(small down) {
			.item-location-1 {
				width: 72px;
				x: 254;

				&.cls-26 {
					transform: matrix(1, 0, 0, 1, 260, 320.533);
				}
			}

			.item-location-2 {
				width: 49px;
				height: 32px;
				y: 33;
			}

			.item-location-3 {
				width: 62px;
				x: 294;

				&.cls-26 {
					transform: translate(304.13px, 124.58px);
				}
			}

			.item-location-4 {
				width: 62px;
				x: 380;

				&.cls-26 {
					transform: translate(385.72px, 325px);
				}
			}

			.item-location-5 {
				width: 55px;
				x: 390;

				&.cls-26 {
					transform: translate(396.11px, 299.6px);
				}
			}

			.item-location-6 {
				width: 55px;
				x: 385;

				&.cls-26 {
					transform: translate(391.45px, 267.38px);
				}
			}

			.item-location-7 {
				width: 94px;
				x: 410;

				&.cls-26 {
					transform: translate(423.23px, 236.97px);
				}
			}

			.item-location-8 {
				width: 60px;
			}

			.item-location-9 {
				width: 55px;
				height: 30px;

				&.cls-26 {
					transform: translate(484.32px, 299.48px);
				}
			}

			.item-location-10 {
				width: 94px;
				height: 31px;

				&.cls-26 {
					transform: translate(472.03px, 348.42px);
				}
			}
		}

		@for $i from 1 through 10 {
			.item-location-#{$i} {
				cursor: pointer;

				&.active {
					fill: #afdcdf;
					opacity: 1;
				}

				&:hover {
					fill: #afdcdf;
					opacity: 1;
				}
			}

			text.item-location-#{$i} {
				pointer-events: none;

				&.active {
					fill: $black;
					font-family: $body-bold;
				}

				&:hover {
					fill: $black;
				}
			}
		}

		text.cls-3 {
			pointer-events: none;
		}
	}
}
