.prod-gallery-carousel {
	.arrow-wrapper {
		max-width: $site-width;
		width: 100%;
		position: relative;
		margin: 0 auto;
	}

	&-item {
		height: 200px;
		width: 100%;
		max-width: 480px;
		position: relative;

		@include breakpoint(medium) {
			height: 680px;
			max-width: $site-width;
			width: 100%;

			&:after {
				@include dark-overlay;
				background-color: rgba($black, 0.6);
				transition: background-color 0.3s;
			}

			&.slick-active:after {
				background-color: rgba($black, 0);
			}
		}

		& > img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.slick-prev-arrow {
		left: 20px;
		top: 300px;

		@include breakpoint(1385px) {
			left: -30px;
		}
	}

	.slick-next-arrow {
		right: 20px;
		top: -380px;

		@include breakpoint(1385px) {
			right: -30px;
		}
	}

	&-control {
		&-item {
			height: 70px;
			@include bg-image;

			@include breakpoint(large) {
				height: 100px;
			}
		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 30px auto 20px;
		padding: 0;
		list-style: none;

		li {
			height: auto !important;
			margin: 0 7px;

			&.slick-active button {
				background-color: $green;
			}

			button {
				background-color: $white;
				margin: 0 auto;
				padding: 0;
				height: 10px;
				width: 10px;
				border-radius: 10px;
				border: 0;
				padding: 0;
				outline: 0;
				line-height: 0;
				font-size: 0;
				color: transparent;
				display: block;

				&:before {
					content: none;
				}
			}
		}
	}
}

.prod-gallery-carousel-control {
	display: none;

	@include breakpoint(medium) {
		display: block;
	}

	&-item {
		position: relative;
		margin: 0 10px;
		border: solid 3px transparent;

		& > img {
			@include absolute-center;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&.slick-current {
			border: solid 3px $white;
		}
	}
}
