.tips-list {

	li:last-child {
		float: left!important;
	}
}

.tip-tile {
	margin-bottom: 30px;
	text-align: center;

	@include breakpoint(medium) {
		margin-bottom: 80px;
		text-align: left;
	}

	.tip-text {

		@include breakpoint(medium) {
			padding: 0 30px 0 0;
		}

		h3, h4 {
			margin: 0;
			font-size: 18px;
		}
	}

	.tip-icon-wrapper {

		@include breakpoint(medium) {
			padding: 0 30px 0 0;
		}
		
		.tip-icon {
			width: 50px;
			height: 50px;

			@include breakpoint(medium) {
				width: 40px;
				height: 40px;
			}

			@include breakpoint(large) {
				width: 70px;
				height: 70px;
			}
		}
	}
}