.hero-destination {
	width: 100%;
	height: 100vh;
	min-height: 568px;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint(large) {
		min-height: 650px;

		&:after {
			@include top-gradient;
		}
	}

	&-content {
		@include absolute-center;
		top: calc(50% - 35px);
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 660px;

		@include breakpoint(large) {
			max-width: 760px;
		}

		.hero-destination-ico {
			width: 107px;
			height: 50px;
			display: inline-block;
			margin-bottom: 20px;

			@include breakpoint(medium) {
				width: 150px;
				height: 76px;
			}
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.5);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 37px 60px 37px;
			}

			p {
				margin-bottom: 0;
			}

			h1 {
				color: $white;
				font-family: $condensed;
				font-weight: normal;
				text-transform: uppercase;
				margin-bottom: 0;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 40px, 64px);
			}
		}

		&-map {
			width: 150px;
			height: 150px;
			position: relative;
			margin: 30px auto 0;
			border-radius: 50%;
			background-color: rgba($black, 0.3);

			.hero-map-ico {
				width: 120px;
				height: 120px;
				@include absolute-center;
			}
		}

		p {
			margin-bottom: 10px;
			font-family: $condensed;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			line-height: 1;
		}

		// h1 {
		// 	color: $white;
		// 	font-weight: normal;
		// 	margin-bottom: 0;
		// 	text-transform: uppercase;
		// }
	}

	.scroll-down-btn {
		bottom: 120px;
	}
}
