.hero-event {
	width: 100%;
	height: 100vh;
	min-height: 568px;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint(large) {
		min-height: 650px;

		&:after {
			@include top-gradient;
		}
	}

	&-content {
		@include absolute-center;
		top: calc(50% - 15px);
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 660px;

		@include breakpoint(large) {
			max-width: 760px;
		}

		.hero-event-ico {
			width: 107px;
			height: 50px;
			display: inline-block;
			margin-bottom: 20px;

			@include breakpoint(medium) {
				width: 150px;
				height: 76px;
			}
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.5);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 37px 60px;
			}

			p {
				margin-bottom: 0;
			}
		}

		&-map {
			width: 150px;
			height: 150px;
			position: relative;
			margin: 30px auto 0;
			border-radius: 50%;
			background-color: rgba($black, 0.3);

			.hero-map-ico {
				width: 120px;
				height: 120px;
				@include absolute-center;
			}
		}

		p {
			margin-bottom: 10px;
			font-family: $condensed;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			line-height: 1;
		}

		h1 {
			color: $white;
			font-family: $condensed;
			font-weight: normal;
			text-transform: uppercase;
			@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 36px, 64px);
		}

		.expired-event-messaging {
			background-color: $white;
			padding: 20px 10px;
			width: calc(100% - 10px);
			margin-top: 20px;

			p {
				margin: 0;
				font-family: $body-font;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 16px, 20px);
				line-height: 1.5;
				color: $black;
			}

			a {
				color: $black;
				border-bottom: solid 2px transparent;

				&:hover {
					border-bottom: solid 2px $black;
				}
			}
		}
	}

	.scroll-down-btn {
		bottom: 120px;
	}
}
