.article-tile {
	display: block;
	position: relative;
	width: 100%;
	background-color: $grey;
	height: 349px;
	cursor: pointer;
	outline: none;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	margin-right: 5px;
	@include scale;

	@include breakpoint(375px) {
		height: 410px;
	}

	@include breakpoint(medium) {
		height: 535px;
		width: auto;
		margin-right: 0;
	}

	@include breakpoint(medium) {
		&:before {
			content: '';
			display: block;
			@include absolute-center;
			width: 90%;
			height: 94%;
			border: solid 3px transparent;
			z-index: 4;
			transition: border 0.3s ease-out;
		}
	}

	&-date {
		color: $white;
		margin-bottom: 0px;
		display: inline-block;
		text-transform: uppercase;
		font-size: 11px;
		font-family: $body-bold;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	&-image {
		position: absolute;
		width: 100%;
		height: 100%;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	&:after {
		@include bottom-gradient;
	}

	@include breakpoint(medium) {
		min-height: 200px;
	}

	&:hover,
	&:focus {
		border-bottom: none !important;

		&:before {
			border: solid 3px $white;
		}

		@include breakpoint(medium) {
			@include scale-hover;
			z-index: 10;
		}
	}

	&-cat {
		position: absolute;
		text-transform: uppercase;
		font-weight: normal;
		top: 30px;
		right: 30px;
		background-color: rgba($black, 0.5);
		padding: 5px 10px;
		border-radius: 3px;
		font-size: 10px;
		color: $white;
	}

	&-content {
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 100%;
		padding: 30px;

		h5 {
			color: $white;
			margin-bottom: 0;
			font-family: $body-bold;
			-webkit-font-smoothing: antialiased;
			line-height: 1.3;
			font-size: 15px;

			@include breakpoint(medium) {
				font-size: 18px;
			}
		}

		&-desc {
			display: none;

			p {
				display: inline-block;
				margin-top: 10px;
				margin-bottom: 0;
				width: 100%;
				color: $white;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.4;
			}

			&-cta {
				color: $white;
				text-transform: uppercase;
				font-weight: 600;
				padding-top: 10px;

				i.fa {
					font-size: 20px;
					font-weight: bold;
					position: relative;
					top: 1px;
					left: 3px;
				}
			}
		}
	}
}
