.hero-experience-nav {
	position: relative;
	display: flex;

	@include breakpoint(large) {
		height: 70vh;
		min-height: 670px;
	}

	.columns {
		padding: 0;
	}

	&-col {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		@include breakpoint(large) {
			height: 100%;
		}
	}

	.column-1.two-up {
		a:first-child {
			@include breakpoint(large) {
				flex: unset;
				height: 58%;
			}
		}
	}

	.column-3.two-up {
		a:last-child {
			@include breakpoint(large) {
				flex: unset;
				height: 58%;
			}
		}
	}

	.hero-experience-tile {
		display: flex;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		border: solid 3px $white;
		border-bottom: solid 1px $white;
		cursor: pointer;
		outline: none;
		padding: 20px;
		background-color: $light-grey;

		@include breakpoint(medium) {
			padding: 70px 20px;
		}

		@include breakpoint(large) {
			padding: 20px;
			flex: 1;
			border-bottom: solid 3px $white;
		}

		&:before {
			@include border;
			@include absolute-center;
			width: calc(100% - 40px);
			height: calc(100% - 40px);
		}

		&:after {
			@include dark-overlay;
			background-color: rgba($black, 0.35);
			z-index: 1;
		}

		&:hover {
			@include breakpoint(large) {
				&:before {
					@include border-hover;
				}
			}

			h3 {
				background-color: $white;
				color: $black;
			}

			@include breakpoint(large) {
				.hero-experience-tile-content-cta {
					opacity: 1;
				}
			}

		}

		& > img {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
			@include absolute-center;
		}

		// &.medium-height {
		// 	@include breakpoint(large) {
		// 		flex: unset;
		// 		height: 58%;
		// 	}
		// }

		&-content {
			margin: auto;
			text-align: center;
			display: inline-block;
			position: relative;
			max-width: 350px;
			z-index: 2;

			.hero-exp-ico {
				width: 50px;
				height: 40px;
				fill: $white;
				margin-bottom: 5px;

				@include breakpoint(medium) {
					width: 80px;
					height: 50px;
				}
			}

			h3 {
				color: $white;
				font-family: $condensed-bold;
				font-size: 20px;
				text-transform: uppercase;
				line-height: 1.1;
				border: solid 5px $white;
				background-color: rgba($black, 0.3);
				padding: 10px 25px;
				margin: 0;
				transition: all 0.3s ease-out;

				@include breakpoint(medium) {
					font-size: 33px;
					padding: 15px 25px;
				}
			}

			&-cta {
				color: $white;
				display: none;
				font-family: $body-bold;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 15px;
				-webkit-backface-visibility: hidden;
				transition: opacity 0.3s ease-out;

				@include breakpoint(large) {
					display: block;
					opacity: 0;
				}

				i.fa {
					font-weight: bold;
					font-size: 14px;
					position: relative;
					left: 2px;
					top: -1px;
				}
			}
		}
	}
}
