.atdw-syncomatic input {
	padding: 10px;
	border-radius: 2px;
}

.atdw-syncomatic .green-text {
	color: #107A0B;
	background-color: #BBF5BF;
	display: inline-block;
	padding: 10px;
}

.atdwds-loader-image {
	width: 100%;
    vertical-align: sub;
    margin-top: 15px;
    display: block;
}

.atdwds-update-image {
	width: 20px;
	height: 20px;
	padding: 3px 12px;
}

.atdwds-loader-image.updates-loader {
	width: 100px;
    vertical-align: unset;
    margin-top: 0;
    display: inline-block;
}

.atdw-syncomatic .pagination {
	margin: 20px 0;
}

.atdw-syncomatic .pagination .current {
	font-weight: bold;
}

.atdw-syncomatic .pagination a {
	margin: 0 3px;
}

button.settings-btn {
	background-color: #ffffff;
	border: 0;
	border-radius: 3px;
	padding: 10px 13px;
	color: #0085ba;
	margin-top: 20px;
	cursor: pointer;
	outline: none;
	transition: border-radius 0.3s 0.3s;
}

button.settings-btn.active {
	background-color: #ffffff;
	border-radius: 3px 3px 0 0;
	border-bottom: 0;
	transition: border-radius 0.3s;
}

.settings-container {
	background-color: #ffffff;
	border-radius: 0 6px 6px 6px;
	padding: 0 20px;
}

.settings-container .form-table {
	margin-top: 0;
}

table.ajax-response {
	text-align: left;
	width: 30%;
}

table.existing-listing-table tr:hover {
	background-color: #ffffff;
}

table.existing-listing-table a.remove-listing-link {
	border: solid 1px;
    padding: 0;
    font-size: 17px;
    display: inline-block;
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0085ba;
    color: #ffffff;
    text-align: center;
    opacity: 0.5;
}

table.existing-listing-table a.remove-listing-link:hover {
	opacity: 1;
}

table th {
	white-space: nowrap;
}

table tr.expired {
	background-color: #fcf8e3;
}

.preview-member h3 {
	margin:0 0 10px;
}

.preview-member td {
	vertical-align: top;
	padding: 15px;
    background-color: #fff;
}

.preview-member p {
	padding-right: 30px;
}

.preview-image img {
	width:100%;
	max-width:180px;
}

.preview-btn a:first-child {
	height: 70px!important;
}

.preview-btn a.preview-btn-cancel {
	width: 100%;
	text-align: center;
	height: auto;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.preview-btn a.preview-btn-cancel span {
	font-size: 19px;
}

.preview-not-found {
	background-color: #fcf8e3;
	color: #8a6d3b;
	border: solid 1px #faf2cc;
}

.preview-btn div {
	font-size: 40px;
	text-align: center;
}