.hero-category {
	width: 100%;
	height: 100vh;
	min-height: 568px;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint(large) {
		min-height: 650px;
		
		&:after {
			@include top-gradient;
		}
	}

	&-content {
		@include absolute-center;
		top: calc(50% - 15px);
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 1000px;

		@include breakpoint(medium) {
			top: calc(50% - 85px);
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.5);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 30px 60px;
			}

			h1 {
				color: $white;
				font-family: $condensed;
				font-weight: normal;
				line-height: 1;
				margin-bottom: 0;
				text-transform: uppercase;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 40px, 64px);
			}
		}
	}
}