.breadcrumb {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	padding: 10px 20px;
	background-color: rgba($black, 0.5);
	text-align: center;

	@include breakpoint(medium) {
		padding: 20px 0;
	}

	&-list {
		li {
			text-transform: uppercase;
			color: $white;
			margin-right: 15px;
			font-size: 11px;
			margin-bottom: 0;

			@include breakpoint(medium) {
				margin-right: 20px;
				font-size: 13px;
			}

			&:not(:last-child):after {
				content: '\F054';
				font-family: FontAwesome;
				font-size: 8px;
				display: inline-block;
				position: relative;
				top: -2px;
				left: 10px;

				@include breakpoint(medium) {
					left: 12px;
				}
			}

			a {
				color: $white;
				border-bottom: solid 2px transparent;

				&:hover,
				&:focus {
					border-bottom: solid 2px $white;
				}
			}

			&.current-page {
				font-family: $heading-font;
			}
		}
	}
}
