.itinerary-highlights {
	background-color: #1f1f1f;
	display: flex;
	align-items: stretch;

	@include breakpoint(medium) {
		right: 0;
		height: 195px;
		width: 195px;
		height: auto;
	}

	@include breakpoint(large) {
		height: 260px;
		width: 260px;
	}

	@include breakpoint(medium) {
		position: absolute;
		display: block;
	}

	img {
		border-right: solid 1px $white;
		display: block;
		width: 50%;
		height: 50%;
		flex: 1;

		@include breakpoint(medium) {
			width: 100%;
			height: 100%;
			border-right: none;
			border-bottom: solid 1px $white;
		}
	}

	.highlights-text {
		background-color: #1f1f1f;
		padding: 20px;
		flex: 1;

		@include breakpoint(medium) {
			padding: 25px;
		}

		h3 {
			@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 14px, 21px);
			font-family: $condensed-bold;
			color: $blue;
			text-transform: uppercase;
			margin-bottom: 10px;
			line-height: 1;
		}

		&-list {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				color: $white;
				font-family: $body-bold;
				font-size: 12px;

				@include breakpoint(medium) {
					font-size: 14px;
				}

				&:before {
					content: '• ';
					color: $white;
				}
			}
		}
	}
}
