.itinerary-item {
	@include breakpoint(medium) {
		height: 100vw;
		max-height: 800px;
		display: flex;
	}

	@include breakpoint(large) {
		max-height: 620px;
	}

	&-image {
		width: 100%;
		height: auto;
		position: relative;

		@include breakpoint(medium) {
			height: 100%;
			width: 65%;
		}

		& > img {
			display: block;
			object-fit: cover;
			object-position: center;
			height: 100%;
			width: 100%;

			@include breakpoint(medium) {
				position: absolute;
				height: 100%;
				width: 100%;
			}
		}
	}

	&-text {
		width: 100%;
		position: relative;
		padding: 10px 0px 45px;

		@include breakpoint(medium) {
			width: 45%;
			padding: 0;
			display: flex;
		}

		&-content {
			width: 100%;
			padding: 20px;

			@include breakpoint(medium) {
				margin: auto;
				margin-left: 0;
			}

			@include breakpoint(large) {
				margin-left: 30px;
				max-width: 400px;
			}

			@include breakpoint(xlarge) {
				margin-left: 50px;
				max-width: 400px;
			}

			h2 {
				font-family: $heading-font;
				line-height: 1.2;
				margin-bottom: 18px;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 45px, 52px);

				@include breakpoint(large) {
					margin-bottom: 22px;
				}

				&:before {
					content: none;
				}
			}

			.location,
			.distance {
				font-family: $condensed-bold;
				display: inline-block;
				text-transform: uppercase;
				font-size: 21px;
				margin-bottom: 18px;

				@include breakpoint(large) {
					margin-bottom: 10px;
				}
			}

			.distance {
				color: $grey;
				margin-left: 5px;
			}

			.itinerary-icon-wrapper {
				margin-top: 18px;

				@include breakpoint(large) {
					margin-top: 10px;
				}
			}

			.itinerary-icon {
				margin-right: 15px;
				svg {
					fill: $blue;
					width: 50px;
					height: 50px;
				}
			}

			p {
				@include breakpoint(medium) {
					max-height: 130px;
					overflow: hidden;
				}
			}

			a {
				@include primary-link($black);
				font-family: $body-bold;
				border-bottom: solid 2px transparent;
				display: inline-block;
				margin-top: 15px;

				@include breakpoint(large) {
					margin-top: 15px;
				}

				&:hover {
					border-bottom: solid 2px $black;
				}
			}
		}
	}
}
