@import 'filter';
@import 'itinerary';
@import 'highlights';

#itineraries-root {
	position: relative;
	min-height: 40vh;
	background-color: $white;
	padding: 0 0 30px;

	@include breakpoint(medium) {
		padding: 0 0 100px;
	}

	.no-results-text {
		padding: 0 20px;

		p {
			font-size: 18px;
			margin-bottom: 30px;

			@include breakpoint(medium) {
				font-size: 20px;
				margin-bottom: 40px;
			}
		}
	}
}

.loading-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba($white, 0.7);

	.loading-overlay-spinner {
		@include absolute-center;
		transform: scale(2);
	}
}

.itineraries-load-more-btn-wrapper {
	padding: 20px 0 0;

	@include breakpoint(medium) {
		padding: 40px 0 0;
	}
}

.itinerary-item-wrapper {
	&.itinerary-items-enter {
		opacity: 0;
		transform: translateY(10px);
	}

	&.itinerary-items-enter.itinerary-items-enter-active {
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.5s ease-out, transform 0.4s ease-out;
	}

	&.itinerary-items-leave {
		opacity: 1;
		transform: translateY(0);
	}

	&.itinerary-items-leave.itinerary-items-leave-active {
		opacity: 0;
		transform: translateY(-10px);
		transition: opacity 0.5s ease-out, transform 0.4s ease-out;
	}
}

@include breakpoint(medium) {
	.itinerary-item-wrapper:nth-child(even) .itinerary-item {
		flex-direction: row-reverse;

		.itinerary-item-text-content {
			@include breakpoint(medium) {
				margin-left: auto;
				margin-right: 0;
			}

			@include breakpoint(large) {
				margin-right: 30px;
				max-width: 400px;
			}

			@include breakpoint(xlarge) {
				margin-right: 50px;
			}
		}

		.itinerary-highlights {
			left: 0;
		}
	}
}
