.hero-home {
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	padding: 130px 0 100px;
	text-align: left;
	min-height: 480px;

	@include breakpoint(medium) {
		height: 100vh;
		padding: 0;
	}

	@include breakpoint(large) {
		min-height: 800px;

		&:after {
			@include top-gradient;
		}
	}

	&-content {
		position: relative;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 500px;

		@include breakpoint(medium) {
			max-width: 600px;
			@include vertical-center;
			top: calc(50% + 15px);
		}

		@include breakpoint(large) {
			max-width: 700px;
		}

		&-cat {
			font-family: $condensed-bold;
			font-weight: normal;
			text-transform: uppercase;
			display: inline-block;
			margin-bottom: 5px;
			@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 17px, 20px);
		}

		h1 {
			color: $white;
			margin: 0 0 15px;
			font-family: $body-bold;
			@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 34px, 65px);

			@include breakpoint(medium) {
				margin: 0 0 15px;
			}
		}

		&-excerpt {
			width: 100%;
			max-width: 550px;
			line-height: 1.4;
			margin: 0 0 14px;
			@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 17px, 16px);

			&:after {
				content: '';
				display: block;
				border-bottom: solid 1px $white;
				width: 70%;
				margin: 15px 0 0;

				@include breakpoint(medium) {
					width: 50%;
				}
			}
		}

		&-cta {
			color: $white;
			text-transform: uppercase;
			font-family: $body-bold;
			border-bottom: 1px solid transparent;

			&:hover,
			&:focus {
				font-weight: bold;
				color: $white;
				border-bottom: 1px solid $white;
			}

			i.fa {
				font-size: 14px;
				position: relative;
				top: -1px;
				left: 6px;
			}
		}
	}
}
