// seperate style for wp search page

.wp-pagination,
.post-list-pagination {

	.page-numbers {
		padding: 0;
		margin: 20px 5px 0;
		font-family: $body-bold;
		
		&.current {
			border-bottom: solid 2px $green;
		}
	}

	a.page-numbers {
		font-family: $body-bold;
		border-bottom: solid 2px transparent;

		&:hover {
			border-bottom: solid 2px $green;
		}

		&.next {		

			&:before {
				content: 'Next Page';
			}

			&:after {
				content: "\f054";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    color: $black;
			    font-size: 13px;
			    position: relative;
	    		left: 5px;
			}
		}

		&.prev {

			&:after {
				content: 'Previous Page';
				font-family: $body-bold;
			}

			&:before {
				content: "\f053";
				font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    color: $black;
			    font-size: 13px;
			    position: relative;
	    		right: 5px;
			}
		}
	}
}


// seperate style for post list page
.page-numbers {
	list-style: none;
	padding: 0;
	margin: 20px 0 0;

	li {
		display: inline-block;
		font-family: $body-bold;
		margin: 0 5px;

		.current {
			border-bottom: solid 2px $green;
		}

		a {
			font-family: $body-bold;
			border-bottom: solid 2px transparent;

			span.pag-ico {
				font-family: FontAwesome;
				font-size: 13px;
			}
		}
	}
}

.pagination {
	margin-top: 20px;

	ul {

		li {
			margin: 0 5px;
		}

		li a {
			border-bottom: solid 2px transparent;
			font-family: $body-bold;

			&:hover,
			&:focus {
				border-bottom: solid 2px $green;
			}
		}

		li.active a {
			border-bottom: solid 2px $green;
		}

		li.pagination-prev a:before,
		li.pagination-next a:after {
			content: "\f053";
		    font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    color: $black;
		    font-size: 13px;
		    position: relative;
    		right: 5px;
		}

		li.pagination-next a:after {
			content: "\f054";
			position: relative;
    		left: 5px;
		}
	}
}