body.post-list {
	.hero-standard {
		padding: 120px 20px 30px;
		height: auto;

		@include breakpoint(medium) {
			height: 55vh;
			min-height: 450px;
		}

		@include breakpoint(large) {
			height: 65vh;
			min-height: 500px;
		}

		&-content {
			top: calc(50% + 65px);

			@include breakpoint(medium) {
				top: calc(50% + 25px);
			}
		}
	}
}

.hero-standard {
	padding: 120px 0 70px;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint(medium) {
		height: 50vh;
		min-height: 400px;
	}

	@include breakpoint(large) {
		height: 70vh;
		min-height: 650px;
	}

	@include breakpoint(large) {
		&:after {
			@include top-gradient;
		}
	}

	&-content {
		text-align: center;
		color: $white;
		width: 90%;
		max-width: 500px;
		margin: 10px auto 30px;

		@include breakpoint(medium) {
			max-width: 800px;
			margin: 0 auto;
			z-index: 3;
			@include absolute-center;
			top: 54%;
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.46);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 40px 130px;
			}

			p {
				margin-bottom: 10px;
				font-family: $condensed;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 20px;
				line-height: 1;
			}

			h1 {
				color: $white;
				font-family: $condensed;
				font-weight: 300;
				max-width: 750px;
				margin: 0 auto;
				text-transform: uppercase;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 36px, 64px);
			}
		}
	}
}
