.featured-article-wrapper {
  min-height: 670px;

  @media only screen and (max-width: 768px) {
    min-height: 200px;
  }

  a {
    padding: 20px;
    flex: 1;
    border: 3px solid #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &:before {
      content: "";
      display: block;
      border: 3px solid transparent;
      z-index: 4;
      transition: border .3s ease-out;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: calc(100% - 40px);
      height: calc(100% - 40px);
    }

    &:hover {
      text-decoration: none;

      &:before {
        border-color: #fff!important;
      }

      .content-container {

        h3 {
          background-color: #fff;
          color: #000;
          text-decoration: none;
        }

        .cta-item {
          opacity: 1;
        }
      }
    }
  }

  .content-container {
    max-width: 350px;
    margin: 0 auto;

    h3 {
      padding: 20px;
      flex: 1;
      border: 3px solid #fff;
      color: #fff;
      font-family: open_sans_condensedbold,sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 1.1;
      background-color: rgba(0,0,0,.3);
      margin: 0;
      transition: all .3s ease-out;
    }
    .cta-item {

      @media only screen and (max-width: 1024px) {
        display: none;
      }
      color: #fff;
      display: block;
      font-family: open_sansbold, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 15px;
      -webkit-backface-visibility: hidden;
      opacity: 0;
      transition: opacity .3s ease-out;
    }
  }

}