.video-background {
  background: #000;
  padding: 0;
  cursor: pointer;

  .overlay-play-button {
    background: url(/wp-content/themes/ttnq/page-builder/assets/img/playButton.png) no-repeat center;
    width: 120px;
    height: 120px;
    background-size: cover;
    position: relative;
    z-index: 500;
  }

  .embed-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 767px) {
      height: 80vh;
    }

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}