// Style for banner ad component.

.banner-ad {
	text-align: center;
	position: relative;

	&-tag {
		position: absolute;
		display: inline-block;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: normal;
		top: 20px;
		right: 20px;
		background-color: rgba($black, 0.5);
		padding: 5px 10px;
		border-radius: 3px;
		font-size: 10px;
		color: $white;

		@include breakpoint(medium) {
			top: 20px;
			right: 50%;
			transform: translateX(50%);
		}
	}

	&-link {
		text-decoration: none;
	    border: 0;
	    margin: 0;
	    vertical-align:top;
	    outline: none;
	    display: inline-block;
	    width: 100%;
	    padding: 0;
	    line-height: 0;

	    &:hover,
	    &:focus {
	    	border: 0;
	    }
	}

	&-image {
		width: 100%;
		height: auto;
	}
}