.itineraries-carousel {
	li {
		height: 225px;

		@include breakpoint(medium) {
			padding: 0 10px 10px;
			height: 350px;
		}

		@include breakpoint(large) {
			height: 425px;
		}

		.custom-post-tile {
			h5 {
				font-family: $heading-font;
				font-weight: 300;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 24px, 40px);
				margin-bottom: 10px;
			}

			p.itinerary-location {
				font-family: $condensed-bold;
				text-transform: uppercase;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 14px, 20px);
				margin: 0;
				line-height: 1;
			}

			.custom-post-tile-text-view p {
				text-transform: initial;
				padding: 5px 0 10px;
				max-width: 85%;
			}

			.custom-post-tile-text-view {
				margin-bottom: 0;

				@include breakpoint(medium) {
					&:hover {
						max-height: 150px;
					}
				}
			}
		}
	}

	.slick-list {
		margin-bottom: 20px;

		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.slick-prev-arrow {
		left: 30px;

		@include breakpoint(1385px) {
			left: -18px;
		}
	}

	.slick-next-arrow {
		right: 30px;

		@include breakpoint(1385px) {
			right: -18px;
		}
	}
}
