.btn.show-more-btn {

	&.active {

		&:after {
			transform: rotate(180deg);
		}
	}

	&:after {
		content: '\f078';
		font-family: FontAwesome;
		display: inline-block;
		font-size: 18px;
		position: relative;
		top: 0;
		transform: rotate(0);
		transform-origin: 50% 50%;
		left: 5px;
	}
}

.show-more-container {
	max-height: 260px;
	overflow: hidden;
	transition: max-height 0.8s;

	@include breakpoint(medium) {
		max-height: 500px;
	}
}