// buttons

.btn {
	display: inline-block;
	border: $btn-border;
	font-weight: $btn-font-weight;
	font-family: $body-extra-bold;
	line-height: 1.3;
	text-transform: $btn-case;
	border-radius: $btn-radius;
	cursor: pointer;
	transition: $btn-transition;
	outline: none;
	letter-spacing: -0.6px;
	width: 85%;
	min-width: 270px;

	@include breakpoint(medium) {
		letter-spacing: 1px;
		width: auto;
	}

	&:hover,
	&:focus {
		font-weight: $btn-font-weight-hover;
	}

	i.fa {
		font-weight: $btn-font-weight;
		position: relative;
		top: -1px;
		font-size: 14px;
	}

	&-margin {
		margin: $btn-margin-mobile;

		@include breakpoint(medium) {
			margin: $btn-margin;
		}
	}

	&-container {
		> .btn-margin:first-child {
			margin-left: 0;
		}

		> .btn-margin:last-child {
			margin-right: 0;
		}
	}

	&-small {
		padding: $btn-small-padding;
	}

	&-medium {
		padding: $btn-medium-padding-mobile;

		@include breakpoint(medium) {
			padding: $btn-medium-padding;
		}
	}

	&-large {
		padding: $btn-large-padding;
	}

	&-primary {
		background-color: $btn-bg-colour-primary;
		color: $btn-font-colour-primary;
		border-bottom: 0;

		&:hover,
		&:focus {
			background-color: $btn-bg-colour-primary-hover;
			color: $btn-font-colour-primary-hover;
			border-bottom: 0;
		}
	}

	&-secondary {
		background-color: $btn-bg-colour-secondary;
		color: $btn-font-colour-secondary;
		border-bottom: 0;

		&:hover,
		&:focus {
			background-color: $btn-bg-colour-secondary-hover;
			color: $btn-font-colour-secondary-hover;
			border-bottom: 0;
		}
	}

	&-tertiary {
		background-color: $btn-bg-colour-tertiary;
		color: $btn-font-colour-tertiary;
		border-bottom: 0;

		&:hover,
		&:focus {
			background-color: $btn-bg-colour-tertiary-hover;
			color: $btn-font-colour-tertiary-hover;
			border-bottom: 0;
		}
	}

	&-ghost {
		background-color: $btn-bg-colour-ghost;
		color: $btn-font-colour-ghost;
		border: $btn-border-ghost;
		border-radius: $btn-radius-ghost;

		&:hover,
		&:focus {
			background-color: $btn-bg-colour-ghost-hover;
			color: $btn-font-colour-ghost-hover;
		}

		&.blue {
			border: solid 3px $blue;

			&:hover {
				background-color: $blue;
				color: $white;
			}
		}

		&.dark-blue {
			border: solid 3px $dark-blue;

			&:hover {
				background-color: $dark-blue;
				color: $white;
			}
		}

		&.lite-blue {
			border: solid 3px $light-blue;

			&:hover,
			&:focus {
				background-color: $light-blue;
				color: $white;
			}
		}

		&.brown {
			border: solid 3px $brown;

			&:hover,
			&:focus {
				background-color: $brown;
				color: $white;
			}
		}

		&.lite-brown {
			border: solid 3px $light-brown;

			&:hover,
			&:focus {
				background-color: $light-brown;
				color: $white;
			}
		}

		&.green {
			border: solid 3px $green;

			&:hover,
			&:focus {
				background-color: $green;
				color: $white;
			}
		}

		&.orange {
			border: solid 3px $orange;

			&:hover,
			&:focus {
				background-color: $orange;
				color: $white;
			}
		}

		&.tripadvisor {
			border: solid 3px $tripadvisor;

			&:hover,
			&:focus {
				background-color: $tripadvisor !important;
				color: $white;
			}
		}

		&.white {
			border: solid 3px $white;
			color: $white;

			i.fa {
				color: $white;
			}
		}
	}
}
