// Site elements

* {
	box-sizing: border-box;
}

body {
	color: $black;
}

.grey-background {
	background-color: $bg-grey !important;
}

.white-background {
	background-color: $white !important;
}

section {
	width: 100%;
	padding: $section-padding-small;
	padding-bottom: $section-padding-small;

	&:nth-of-type(even) {
		background-color: $bg-grey;
	}

	@include breakpoint(medium) {
		padding: $section-padding-medium;
	}

	@include breakpoint(large) {
		padding: $section-padding-large;
	}

	@include breakpoint(xlarge) {
		padding: $section-padding-xlarge;
	}

	@include breakpoint(xxlarge) {
		padding: $section-padding-xlarge;
	}

	&.collapse {
		padding: 0;
	}

	&.collapse-bottom {
		padding-bottom: 0;
	}

	&.collapse-top {
		padding-top: 0;
	}
}

.component {
	margin-bottom: $component-margin-mobile;

	@include breakpoint(medium) {
		margin-bottom: $component-margin-mobile * 1.2;
	}

	@include breakpoint(large) {
		margin-bottom: $component-margin-mobile * 1.5;
	}

	@include breakpoint(xlarge) {
		margin-bottom: $component-margin-mobile * 2;
	}
}

img {
	width: auto;
	max-width: 100%;
}

ul {
	font-family: $body-font;

	&.list-reset {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&.list-inline li {
		display: inline-block;
	}
}

.tnq-notification {
	background-color: $error;
	color: $white;
	text-align: center;
	padding: 10px 20px;

	p {
		color: inherit;
		margin-bottom: 0;
		font-weight: bold;
	}
}

.priority {
	background-color: $error;
	color: $white;
	display: inline-block;
	position: relative;
	z-index: 1;
	border-radius: 3px;
	padding: 0 5px;
	font-size: 13px;
	margin-left: 5px;

	&-0 {
		background-color: $platinum;
	}

	&-1 {
		background-color: $gold;
	}

	&-2 {
		background-color: $silver;
	}

	&-3 {
		background-color: $bronze;
	}
}

.authored {
	position: absolute;
	z-index: 1;
	background-color: $green;
	color: $white;
	font-size: 13px;
	border-radius: 3px;
	padding: 0 5px;
	margin-left: 20px;
	margin-top: -3px;
}
