body {
	@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 15px, $font-size);
	color: $font-color;
	line-height: $line-height;
}

h1 {
	font-family: $condensed;
}

h2 {
	font-family: $heading-font;
	line-height: $line-height;
	font-weight: 300;
	color: $heading-color;
}

h3,
h4,
h5,
h6 {
	font-family: $body-font;
	line-height: $line-height;
	color: $heading-color;
}

h1 {
	font-size: $font-size * 3;
	margin: 0 0 ($font-size * 1.4);
	line-height: 1.1;
	font-weight: normal;

	@include breakpoint(medium) {
		font-size: $font-size * 3.5;
		line-height: 1.07;
	}

	@include breakpoint(large) {
		font-size: $font-size * 4;
	}
}

h2 {
	font-size: 35px;
	margin: ($font-size * 0.5) 0 ($font-size * 1.4);
	line-height: 1.2;
	font-weight: normal;

	@include breakpoint(medium) {
		font-size: 40px;
	}

	@include breakpoint(large) {
		font-size: 55px;
	}
}

h3 {
	font-size: 23px;
	margin: 0 0 25px;
	font-weight: normal;

	@include breakpoint(medium) {
		font-size: 33px;
	}

	@include breakpoint(large) {
		font-size: 43px;
	}
}

h4 {
	font-size: $font-size * 1.35;
	margin: ($font-size * 0.5) 0 ($font-size * 2);
	font-weight: normal;

	@include breakpoint(medium) {
		font-size: $font-size * 1.6;
	}

	@include breakpoint(large) {
		font-size: $font-size * 1.8;
	}
}

h5 {
	font-size: 18px;
	margin: ($font-size * 0.5) 0 0;
	font-weight: normal;
}

h6 {
	font-size: $font-size * 1;
	margin: ($font-size * 0.5) 0 ($font-size * 2);
	font-weight: normal;
}

p {
	font-family: $body-font;
	@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 15px, $font-size);
	margin: 0 0 $font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

small {
	font-family: $body-font;
	font-size: 12px;
}

blockquote {
	text-align: center;
	position: relative;
	padding: 30px 0;
	max-width: 600px;
	width: 90%;
	margin: 10px auto 5px;
	display: block;

	@include breakpoint(medium) {
		margin: 20px auto 10px;
		width: 100%;
	}

	p {
		font-size: 20px;
		font-family: $light-italic;
		font-weight: 300;
		line-height: 1.45;

		@include breakpoint(medium) {
			font-size: 32px;
		}
	}

	&:before,
	&:after {
		content: open-quote;
		font-family: arial;
		color: $light-grey;
		font-style: oblique;
		font-size: 80px;
		margin-bottom: 0;
		line-height: 0;
		position: absolute;
		left: -25px;
		top: 35px;

		@include breakpoint(medium) {
			font-size: 120px;
			top: 45px;
		}
	}

	&:after {
		content: close-quote;
		left: 96%;
		top: 100%;
	}
}

a {
	font-family: $body-font;
	color: $link-color;
	text-decoration: none;
	border-bottom: $link-border;
	font-weight: $link-weight;

	&:hover,
	&:focus {
		color: $link-color-hover;
		border-bottom: $link-border-hover;
		font-weight: $link-weight-hover;
	}
}

:not(:first-child) h2 {
	font-weight: 300;

	&:before {
		content: '';
		display: block;
		width: 60px;
		margin: 0 auto 10px;
		border-bottom: solid 3px $green;
	}
}

.text {
	&-center {
		text-align: center;
	}

	&-italic {
		font-style: italic;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	@include breakpoint(small) {
		&-left-small {
			text-align: left;
		}

		&-center-small {
			text-align: center;
		}

		&-right-small {
			text-align: right;
		}
	}

	@include breakpoint(medium) {
		&-left-medium {
			text-align: left;
		}

		&-center-medium {
			text-align: center;
		}

		&-right-medium {
			text-align: right;
		}
	}

	@include breakpoint(large) {
		&-left-large {
			text-align: left;
		}

		&-center-large {
			text-align: center;
		}

		&-right-large {
			text-align: right;
		}
	}

	@include breakpoint(xlarge) {
		&-left-xlarge {
			text-align: left;
		}

		&-center-xlarge {
			text-align: center;
		}

		&-right-xlarge {
			text-align: right;
		}
	}
}

// Japan specific
:lang(ja) {
	h2 {
		font-size: 33px;

		@include breakpoint(medium) {
			font-size: 38px;
		}

		@include breakpoint(large) {
			font-size: 53px;
		}
	}
}
