#sticky-nav {
	box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.15);
	text-align: center;
	width: 100%;
	background-color: $white;

	.sticky-nav-list {
		padding: 0;
		margin: 0;
		list-style: none;

		.sticky-wrapper {
			padding: 0 0 10px;
			display: none;

			@include breakpoint(769px) {
				padding: 0;
				display: inline-block;
			}
		}

		li {
			margin: 0 0.9vw;

			@include breakpoint(769px) {
				display: inline-block;
			}

			@include breakpoint(769px) {
				margin: 0 1.5vw;
			}

			a {
				padding: 10px 0 10px;
				display: inline-block;
				text-transform: uppercase;
				font-family: $condensed;
				font-size: 16px;
				border-bottom: 3px solid transparent;

				@include breakpoint(769px) {
					padding: 20px 0 17px;
				}

				&:hover,
				&:focus {
					color: $blue;
					border-bottom: 3px solid $blue;
				}
			}

			&.overview {
				&.active {
					i.fa {
						transform: rotate(180deg);
					}
				}

				a {
					color: $blue;
					border-bottom: 3px solid $blue;
					margin: 5px 0 15px;

					@include breakpoint(769px) {
						margin: 0;
					}

					i.fa {
						font-size: 13px;
						display: inline-block;
						margin-left: 5px;
						position: relative;
						top: -3px;
						transform: rotate(0);
						transition: transform 0.3s;

						@include breakpoint(769px) {
							display: none;
						}
					}
				}
			}
		}
	}
}
