.hero-exp {
	width: 100%;
	height: 100vh;
	min-height: 568px;
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint(large) {
		min-height: 650px;

		&:after {
			@include top-gradient;
		}
	}

	&-content {
		@include absolute-center;
		top: calc(50% + 5px);
		text-align: center;
		color: $white;
		z-index: 3;
		width: 100%;
		max-width: 660px;

		@include breakpoint(medium) {
			top: calc(50% - 60px);
		}

		@include breakpoint(large) {
			max-width: 900px;
		}

		.hero-exp-ico {
			width: 100px;
			height: 50px;
			display: inline-block;
			margin-bottom: 5px;
			fill: $white;

			@include breakpoint(medium) {
				width: 130px;
				height: 76px;
				margin-bottom: 20px;
			}
		}

		&-text {
			border: solid 4px $white;
			background-color: rgba($black, 0.5);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 37px 120px;
			}

			p {
				margin-bottom: 0;
				font-size: 14px;

				@include breakpoint(medium) {
					font-size: 16px;
				}
			}

			h1 {
				color: $white;
				font-family: $condensed;
				font-weight: normal;
				text-transform: uppercase;
				@include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 36px, 64px);
			}
		}

		&-map {
			width: 150px;
			height: 150px;
			position: relative;
			margin: 30px auto 0;
			border-radius: 50%;
			background-color: rgba($black, 0.3);

			.hero-map-ico {
				width: 120px;
				height: 120px;
				@include absolute-center;
			}
		}

	}
}
