header.header {
    position: absolute;
    z-index: 5;
    width: 100%;

    .header-wrapper {
        padding: 0 10px;
        height: 75px;
        border-bottom: solid 1px $white;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;

        @include breakpoint(large) {
            background: none;
            height: 131px;
        }
    }

    .header-logo-link {
        display: block;
        float: left;
        height: 50px;
        width: 100px;
        border: none;
        @include absolute-center;

        &:hover,
        &:focus {
            border: none;
        }

        @include breakpoint(large) {
            position: relative;
            transform: none;
            left: 0;
            top: 20px;
            height: 96px;
            width: 189px;
        }
    }

    .header-logo {
        display: inline-block;
        height: 100%;
        width: 100%;
        fill: $white;
    }

    button.main-menu-btn {
        display: block;
        padding: 0 20px;
        height: 100%;
        float: left;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: solid 2px transparent;
        outline: none;

        @include breakpoint(large) {
            display: none;
        }

        span:last-child {
            color: $white;
            position: relative;
            top: 2px;
        }

        .hamburger {
            position: relative;
            top: 1px;
        }

        .hamburger,
        .hamburger:before,
        .hamburger:after {
            content: '';
            display: block;
            margin: auto;
            width: 35px;
            height: 4px;
            border-radius: 3px;
            background-color: $white;
        }

        .hamburger:before {
            position: relative;
            bottom: 10px;
        }

        .hamburger:after {
            position: relative;
            top: 6px;
        }
    }
}
