body {
    &:before {
        @include dark-overlay;
        visibility: hidden;
        opacity: 0;
        transform: translateZ(0);
        transition: visibility 0.2s 0.2s, opacity 0.2s 0.2s ease-out;
        z-index: 4;
    }
}

body.search-active {
    position: fixed;
    width: 100%;
    &:before {
        @include dark-overlay;
        background-color: rgba($black, 0.5);
        visibility: visible;
        transition: visibility 0s 0.1s, opacity 0.15s 0.16s ease-out;
        opacity: 1;
        z-index: 4;
    }

    .header-search-wrapper {
        transform: translate3d(0, 0, 0);
    }
}

.header-search-btn {
    @include btn-reset;
    outline: none;
    position: relative;
    top: 23px;
    right: 15px;
    float: right;

    @include breakpoint(large) {
        top: 48px;
        right: 0;
        margin-left: 10px;
    }

    .header-search-ico {
        fill: $white;
        width: 25px;
        height: 25px;
    }
}

// body.geo-switch-active .header-search-wrapper {
//     transform: translate3d(0, -150%, 0);
// }

.header-search-wrapper {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translate3d(0, -100%, 0);
    background-color: $white;
    padding: 23px 0;
    transition: transform 0.3s ease-out;
    will-change: transform;

    @include breakpoint(large) {
        padding: 51px 0;
    }

    ::placeholder {
        font-family: $heading-font;
        color: $grey;
        font-size: 16px;
        position: relative;
        top: 3px;
        left: 5px;

        @include breakpoint(large) {
            font-size: 22px;
        }
    }

    .search-ico,
    .search-close-ico {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    .header-search-form {
        display: inline-block;
        margin-left: 6px;
        margin-top: 0;
        vertical-align: middle;
        width: 65%;

        @include breakpoint(large) {
            margin-left: 20px;
        }

        .search-field {
            border: 0;
            outline: none;
            width: 100%;
            font-size: 16px;
            font-family: $body-font;

            @include breakpoint(medium) {
                font-size: 22px;
            }
        }
    }

    .header-search-close-btn {
        @include btn-reset;
        display: inline-block;
        float: right;
    }
}

// ajax search styles
.searchwp-live-search-results {
    position: absolute;
    background-color: $white;
    width: 100% !important;
    top: 75px !important;
    left: 0 !important;
    height: 0;
    min-height: 150px;
    overflow: hidden;
    display: none;
    border-radius: 0;
    border: 0;
    z-index: 9999;
    @include hidden-hover-thing;

    @include breakpoint(large) {
        top: 130px !important;
    }

    &-showing {
        display: block;
        opacity: 1;
        height: auto;
        overflow: auto;
        @include visible-hover-thing;
    }

    & > div:first-child .result-item {
        border-top: solid 1px $light-grey;
        padding: 20px 20px 10px;

        @include breakpoint(medium) {
            padding: 30px 20px 10px;
        }
    }

    .result-item {
        padding: 10px 20px;

        &-heading-bold {
            font-family: $body-font;
        }

        &-p-bold {
            font-family: $body-bold;
        }

        &-image {
            width: 100px;
            height: 50px;
            display: inline-block;
            margin-bottom: 10px;
            vertical-align: top;
            @include bg-image;

            @include breakpoint(medium) {
                width: 140px;
                height: 100px;
            }
        }

        p.result-item-date {
            font-size: 14px;
            margin-bottom: 3px;
        }

        &-text {
            display: inline-block;
            padding-bottom: 12px;
            border-bottom: 1px solid $light-grey;
            vertical-align: top;
            width: 100%;
            transform: translateX(0);
            transition: transform 0.5s ease-out;

            @include breakpoint(medium) {
                width: calc(100% - 200px);
                margin-left: 40px;

                &:hover {
                    transform: translateX(15px);
                    border-bottom: 1px solid $black;

                    h3 {
                        border-bottom: solid 1px $black;
                    }
                }
            }

            a {
                border-bottom: none;
                display: inline-block;
            }

            h3 {
                font-size: 22px;
                line-height: 1;
                margin-bottom: 8px;
                border-bottom: solid 1px transparent;
                font-family: $heading-font;
                display: inline-block;
            }

            p {
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: normal;

                @include breakpoint(medium) {
                    font-size: 16px;
                }
            }
        }

        &-exp-icon {
            fill: $white;
            width: 32px;
            height: 15px;
            position: absolute;
            left: 12px;
            @include vertical-center;
        }

        p.result-item-terms {
            position: relative;
            background-color: $search-grey;
            color: $white;
            text-transform: uppercase;
            font-size: 10px;
            display: inline-block;
            padding: 1px 10px 2px;
            border-radius: 3px;
            font-family: $body-bold;
            margin: 0 4px 0 0;

            @include breakpoint(medium) {
                padding: 3px 14px 4px;
                margin: 0 7px 0 0;
            }

            &.terms-icon {
                vertical-align: center;
                padding-left: 53px;
            }
        }
    }

    .show-all-results {
        padding: 20px 20px 30px;

        @include breakpoint(medium) {
            padding: 30px 20px 40px;
        }

        a {
            @include btn-reset;
            padding: 0 0 3px 0;
            @include primary-link($black);
            border-bottom: solid 1px transparent;
            font-family: $body-extra-bold;

            &:after {
                font-size: 13px;
            }

            &:hover {
                border-bottom: solid 1px $black;
            }
        }
    }
}

.searchwp-live-search-no-results {
    border-top: solid 1px $light-grey;
    padding: 40px 0;
}

.searchwp-live-search-instructions.screen-reader-text {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    clip: rect(0 0 0 0);
}

.searchwp-live-search-no-min-chars:after {
    content: '' !important;
}
