.flexible-text-wrapper {

	&-1 {
		padding-top: 30px;
	}

	&.grey-bg {
		background-color: $bg-grey;
	}

	h2 {
		text-align: center;
	}

	.text-block {
		margin-bottom: 30px;

		p {
			font-size: 16px;
		}
	}
}

.flexible-text-and-image-wrapper {
	padding: 40px 0 0;

	@include breakpoint(medium) {
		padding: 40px 0;
	}

	h2 {
		padding: 0 20px;
	}

	&.grey-bg {
		background-color: $bg-grey;

		.flexible-image {

			@include breakpoint(medium) {
				border: solid 4px $bg-grey;
			}
		}
	}

	.flexible-image-wrapper {
		margin-bottom: 20px;
		padding: 0 20px;

		@include breakpoint(large) {
			padding: 0;
			margin-bottom: 30px;
		}
	}

	.flexible-button {
		margin-bottom: 30px;

		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	.flexible-video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		margin: 0 20px 30px;

		@include breakpoint(large) {
			margin: 0 0 30px;
		}

		&.has-caption {
			margin-bottom: 5px;
		}
		
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	p:last-child {
		margin-bottom: 30px;
	}

	.btn i.fa {
		font-weight: normal;
	}

	.flexible-image {
		@include bg-image;
		float: left;
		position: relative;
		cursor: pointer;

		@include breakpoint(medium) {
			border: solid 4px $white;
		}

		&.direction-right {
			float: right;
		}

		&-caption {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba($black, 0.7);
			text-align: center;
			padding: 10px;
			opacity: 0;
			transition: opacity 0.2s ease-out;

			p {
				color: $white;
				margin-bottom: 0;
				line-height: 1.4;
				max-width: 400px;
				display: inline-block;
			}

			.social-handle--multi-desktop {
				display: none;
				font-size: 12px;
				margin: 0 auto;

				@include breakpoint(medium) {
					display: block;
				}
			}
		}

		&-handle-below {
			text-align: center;
			margin-top: 5px;

			&.video-caption {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 0;
				font-size: 12px;
			}
		}

		&-handle-below-mobile {
			text-align: center;
			margin-bottom: 20px;

			@include breakpoint(medium) {
				display: none;
			}

			p {
				margin-bottom: 0;
				font-size: 12px;
			}
		}

		&-caption-below {
			text-align: center;

			&.video-caption {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 0;
				font-size: 13px;
				font-weight: bold;
			}

			&:before {
				content: "\f106";
				font-family: FontAwesome;
			}
		}

		&-caption-below-mobile {
			text-align: center;

			@include breakpoint(medium) {
				display: none;
			}

			&.video-caption {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 0;
				font-size: 13px;
				font-weight: bold;
			}

			&:before {
				content: "\f106";
				font-family: FontAwesome;
			}
		}

		&:hover {

			@include breakpoint(medium) {

				.flexible-image-caption {
					opacity: 1;
				}
			}
		}

		&.one-up-1 {
			width: 100%;
			height: 190px;

			@include breakpoint(medium) {
				height: 715px;
			}
		}

		&.two-up-1,
		&.two-up-2 {
			width: 100%;
			height: 190px;

			@include breakpoint(medium) {
				height: 497px;
				width: 50%;
			}
		}

		&.three-up-1,
		&.four-up-1 {
			width: 100%;
			height: 190px;

			@include breakpoint(medium) {
				width: 70%;
				height: 497px;
			}
		}

		&.three-up-2,
		&.three-up-3 {
			width: 100%;
			height: 190px;

			@include breakpoint(medium) {
				width: 30%;
				height: 248.5px;
			}
		}

		&.four-up-2,
		&.four-up-3,
		&.four-up-4, {
			width: 100%;
			height: 190px;

			@include breakpoint(medium) {
				width: 30%;
				height: 165.7px;
			}
		}
	}
}