@include breakpoint(large) {
	nav.main-nav {
		float: right;
		display: inline-block;
		position: initial;

		.menu-header {
			display: none;
		}

		.menu-main-menu-container {
			display: inline-block;
		}

		.main-menu-item a {
			opacity: 1;
			border-bottom: none;
			transition: opacity 0.2s 0.16s ease-out;

			&:hover,
			&:focus {
				border-bottom: none;
			}

			&.dim-active {
				opacity: 0.5;
			}
		}

		.menu {
			display: inline-block;
			padding: 0;
			margin: 0;
			letter-spacing: -4px;

			.main-menu-item {
				letter-spacing: 0;
				height: 36px;
			}

			.sub-menu-wrapper {
				position: absolute;
				top: 130px;
				left: 0;
				width: 100%;
				background-color: $white;
				@include hidden-hover-thing;

				a {
					font-size: 16px;
					font-family: $condensed-bold;
					letter-spacing: 0;
				}
			}

			li.menu-item.menu-item-has-children {
				&:after {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 15px 16px 15px;
					border-color: transparent transparent $white transparent;
					position: relative;
					top: 35px;
					left: 50%;
					transform: translate3d(-50%, 5px, 0);
					opacity: 0;
					transition: opacity 0.2s 0.16s ease-out, transform 0.2s 0.16s ease-out;
				}

				&:hover,
				&:focus {
					.sub-menu-wrapper {
						@include visible-hover-thing;
						opacity: 1;
					}

					&:after {
						opacity: 1;
						transform: translate3d(-50%, 2px, 0);
						transition: opacity 0.1s 0.18s ease-out, transform 0.15s 0.18s ease-out;
					}
				}
			}

			li.menu-item.plan-your-trip-parent {
				&:after {
					border-color: transparent transparent $bg-grey transparent;
				}
			}

			li {
				display: inline-block;
				padding: 0 1.25vw 0;
				margin: 49px 0;

				&.menu-item-home {
					padding: 0 1.25vw 0;
					margin: 49px 0;
				}

				&.main-menu-item:nth-child(2) {
					padding: 0 1.25vw 0 0;
					margin: 49px 0 0 1.25vw;
				}

				&.main-menu-item:last-child {
					padding: 0 0 0 1.25vw;
					margin: 49px 1.25vw 0 0;
				}

				&.current-menu-item {
					a:after {
						content: '';
						display: block;
						border-bottom: solid 4px rgba($white, 1);
						transition: border-bottom 0.2s ease-out;
						position: absolute;
						top: 78px;
						width: 100%;
					}
				}

				a {
					display: inline-block;
					text-transform: uppercase;
					position: relative;
					font-size: 19px;
					font-family: $condensed-bold;
					font-weight: normal;
					letter-spacing: 0.3px;
					color: $white;
				}
			}
		}

		// styling for each nav item
		.where-to-go-parent,
		.whats-on-parent,
		.things-to-do-parent,
		.plan-your-trip-parent {
			.sub-menu {
				max-width: $site-width;
				width: 100%;
				text-align: left;
				display: block;
				padding: 0;
				margin: 40px auto;

				li.menu-item.view-parent-link {
					display: none;
				}
			}
		}

		li.where-to-go-parent {
			// .sub-menu-wrapper {
			// 	display: none;
			// }

			.sub-menu {
				li.menu-item {
					margin: 8px;
					display: inline-block;
					vertical-align: top;
					padding: 0;

					a {
						display: block;
						position: relative;
						padding: 20px 25px;
						width: 190px;
						height: 130px;
						background-color: $grey;
						color: $white;
						font-size: 16px;
						line-height: 1.4;
						font-family: $heading-font;
						text-transform: none;
						@include bg-image;
						@include scale;

						&:before {
							@include bottom-gradient;
						}

						&:after {
							@include border;
							border: solid 2px transparent;
							@include absolute-center;
							width: calc(100% - 28px);
							height: calc(100% - 28px);
						}

						@include breakpoint(medium) {
							&:hover {
								@include scale-hover;

								&:after {
									border: solid 2px $white;
								}

								.item-text .cta {
									height: 20px;
									margin-top: 5px;
									transform: translateZ(0);
								}

								.overlay {
									background-color: rgba($black, 0.3);
								}
							}
						}

						.item-text {
							display: inline-block;
							position: absolute;
							font-family: $body-font;
							font-weight: 600;
							z-index: 2;
							bottom: 22px;
							width: calc(100% - 50px);

							.cta {
								overflow: hidden;
								height: 0;
								font-size: 13px;
								margin-top: 0px;
								text-transform: uppercase;
								transform: translateZ(0);
								transition: all 0.3s;

								&:after {
									content: '\F054';
									font-family: FontAwesome;
									font-size: 11px;
									display: inline-block;
									position: relative;
									top: 0;
									left: 4px;
								}
							}
						}

						.overlay {
							position: absolute;
							height: 100%;
							width: 100%;
							top: 0;
							left: 0;
							background-color: rgba($black, 0);
							transition: background-color 0.3s;
						}
					}

					&.atherton a {
						background-image: url('../images/atherton.jpg');
					}

					&.cairns a {
						background-image: url('../images/cairns.jpg');
					}

					&.cooktown a {
						background-image: url('../images/cooktown.jpg');
					}

					&.daintree a {
						background-image: url('../images/daintree.jpg');
					}

					&.gulf a {
						background-image: url('../images/gulf.jpg');
					}

					&.kuranda a {
						background-image: url('../images/kuranda.jpg');
					}

					&.mission a {
						background-image: url('../images/mission.jpg');
					}

					&.national a {
						background-image: url('../images/national.jpg');
					}

					&.palm a {
						background-image: url('../images/palm.jpg');
					}

					&.port a {
						background-image: url('../images/port.jpg');
					}

					&.torres a {
						background-image: url('../images/torres.jpg');
					}
				}
			}
		}

		li.whats-on-parent {
			// .sub-menu-wrapper {
			// 	display: none;
			// }

			.menu-item {
				margin: 8px;
				width: calc(25% - 23px);
				display: inline-block;
				vertical-align: top;
				padding: 0;

				a {
					display: block;
					position: relative;
					padding: 20px 25px;
					width: 100%;
					height: 200px;
					background-color: $grey;
					color: $white;
					font-size: 16px;
					line-height: 1.4;
					font-family: $heading-font;
					text-transform: none;
					@include bg-image;

					&:before {
						@include bottom-gradient;
					}

					&:after {
						@include border;
						border: solid 2px transparent;
						@include absolute-center;
						width: calc(100% - 28px);
						height: calc(100% - 28px);
					}

					&:hover {
						&:after {
							border: solid 2px $white;
						}

						.overlay {
							background-color: rgba($black, 0.3);
						}
					}

					.item-text {
						display: inline-block;
						font-family: $body-font;
						font-weight: 600;
						position: absolute;
						z-index: 2;
						bottom: 22px;
						width: calc(100% - 50px);
					}

					.overlay {
						position: absolute;
						height: 100%;
						width: 100%;
						top: 0;
						left: 0;
						background-color: rgba($black, 0);
						transition: background-color 0.3s;
					}
				}

				&.music a {
					background-image: url('../images/music.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.sports a {
					background-image: url('../images/sports.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.arts-culture a {
					background-image: url('../images/arts-culture.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.food-wine a {
					background-image: url('../images/food-wine.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.food-wine a {
					background-image: url('../images/food-wine.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.winter a {
					background-image: url('/wp-content/uploads/PD2-PortBeach.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.summer a {
					background-image: url('/wp-content/uploads/summer-great_secondary_waterfall-01.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.autumn a {
					background-image: url('/wp-content/uploads/Barron-Falls-Flood_March2018_-70.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}

				&.spring a {
					background-image: url('/wp-content/uploads/nudey-beach_fitzroy-island-1.jpg');
					@include scale;

					&:hover {
						@include scale-hover;
					}
				}
			}
		}

		li.things-to-do-parent,
		li.plan-your-trip-parent {
			// .sub-menu-wrapper {
			// 	display: none;
			// }

			.sub-menu {
				overflow: hidden;
				margin: 0 auto;

				.multi-col-menu {
					margin: 40px 0;
				}
			}

			&-item {
				width: 100%;
				padding: 0;
				margin: 0;
				display: block;

				a {
					color: $black;
					border-bottom: solid 1px transparent;

					&:hover,
					&:focus {
						border-bottom: solid 1px $black;
					}

					&:after {
						content: '\F054';
						font-family: FontAwesome;
						font-size: 12px;
						display: inline-block;
						position: relative;
						top: -1px;
						left: 4px;
					}
				}

				.sub-menu-child {
					padding: 0;
					width: 100%;

					.menu-item {
						display: block;
						padding: 0;
						margin: 0;

						a {
							color: $black;
							font-family: $body-font;
							font-weight: normal;
							text-transform: none;
							font-size: 13px;

							&:after {
								font-size: 8px;
								top: -1px;
								left: 4px;
							}
						}
					}
				}
			}

			.things-to-do-highlights-wrapper,
			.plan-your-trip-highlights-wrapper {
				background-color: $bg-grey;
				height: 660px;
				padding: 40px 20px;

				.things-to-do-highlights-parent,
				.plan-your-trip-highlights {
					padding: 0;
					margin: 0;
					display: block;

					&:hover:after {
						content: none;
					}

					& > a {
						pointer-events: none;
						display: inline-block;
						margin-bottom: 15px;
					}
				}

				a {
					color: $black;
					text-transform: none;
					font-family: $body-font;
					font-size: 18px;
				}

				.sub-menu-child {
					padding: 0;
					margin: 0;

					.menu-item {
						padding: 0;
						margin: 20px 0 0;
						width: 100%;
					}

					a {
						display: block;
						height: 192px;
						width: 100%;
						display: block;
						color: $white;
						text-align: center;
						text-transform: uppercase;
						font-family: $condensed;
						position: relative;
						@include bg-image;

						&:before {
							@include bottom-gradient;
							background-color: rgba($black, 0);
							transition: background-color 0.3s;
						}

						&:after {
							@include border;
							border: solid 2px transparent;
							@include absolute-center;
							width: calc(100% - 28px);
							height: calc(100% - 28px);
						}

						&:hover {
							&:before {
								background-color: rgba($black, 0.3);
							}

							&:after {
								border: solid 2px $white;
							}
						}

						span {
							@include absolute-center;
							z-index: 5;
							border: solid 2px $white;
							background-color: rgba($black, 0.4);
							display: block;
							padding: 10px;
							width: 75%;
						}
					}

					.things-to-do-highlight-1 a {
						background-image: url('../images/highlight-1.jpg');
						@include scale;

						&:hover {
							@include scale-hover;
						}
					}

					.things-to-do-highlight-2 a {
						background-image: url('../images/highlight-2.jpg');
						@include scale;

						&:hover {
							@include scale-hover;
						}
					}
				}
			}
		}

		li.things-to-do-parent {
			// .sub-menu-wrapper {
			// 	display: block;
			// }

			.things-to-do-highlights {
				width: 100%;
				padding: 0;
				margin: 0;
			}
		}

		li.plan-your-trip-parent {
			.sub-menu-wrapper {
				// display: none;

				.plan-your-trip-highlights-wrapper {
					height: 600px;

					.plan-your-trip-highlights {
						width: 100%;
						padding: 0 20px;
					}

					.sub-menu-child {
						// overflow: hidden;

						.menu-item {
							margin: 0 30px 30px 0;
							width: calc(50% - 15px);
							float: left;

							&:nth-child(2),
							&:nth-child(4) {
								margin-right: 0;
							}
						}
					}

					.plan-your-trip-highlight-1 a {
						background-image: url('../images/plan-your-trip-highlight-1.jpg');
						@include scale;

						&:hover {
							@include scale-hover;
							content: none;
						}
					}

					.plan-your-trip-highlight-2 a {
						background-image: url('../images/plan-your-trip-highlight-2.jpg');
						@include scale;

						&:hover {
							@include scale-hover;
							content: none;
						}
					}

					.plan-your-trip-highlight-3 a {
						background-image: url('../images/plan-your-trip-highlight-3.jpg');
						@include scale;

						&:hover {
							@include scale-hover;
							content: none;
						}
					}

					.plan-your-trip-highlight-4 a {
						background-image: url('../images/plan-your-trip-highlight-4.jpg');
						@include scale;

						&:hover {
							@include scale-hover;
							content: none;
						}
					}
				}
			}
		}
	}
}
