.header-search-btn,
.header-logo-link {
	opacity: 1;
	transition: opacity 0.2s 0.16s ease-out;
}

body:after {
	content: '';
	@include dark-overlay;
	background-color: $black;
	display: block;
	z-index: 4;
	@include hidden-hover-thing;
}

body.menu-active {

	&:after {
		@include visible-hover-thing;
		opacity: 0.7;
		transition: opacity 0.35s 0.16s ease-out;
	}

	.header-search-btn,
	.header-logo-link {
		opacity: 0.5;
	}

	nav.main-nav .menu li.current-menu-item {

		a:after {
			border-bottom: solid 4px rgba($white, 0);
		}
	}
}

@import 'main-menu-desktop';
@import 'main-menu-mobile';

