@include breakpoint(medium down) {

	body.nav-active {
		overflow: hidden;

		nav.main-nav {
			position: fixed;
			transform: translate3d(0,0,0);
			box-shadow: 18px 0px 56px 8px rgba(0,0,0,0.85);
		}
	}

	nav.main-nav {
		background-color: $white;
		width: 83%;
		height: 100vh;
		overflow-y: scroll;
		position: absolute;
		transform: translate3d(-100%,0,0);
		top: 0;
		left: 0;
		box-shadow: 18px 0px 56px 8px rgba(0,0,0,0);
		text-align: left;
		transition: all 0.4s ease-out;

		.menu-header {
			background-color: $bg-grey;
			border-bottom: 1px solid $light-grey;
			padding: 0 20px;
			height: 75px;

			&-close-btn {
				@include btn-reset;
				width: 26px;
				height: 26px;
				margin: 0;
				padding: 0;
				position: relative;
				top: 21px;
				float: right;
			}

			&-close-ico {
				width: 100%;
				height: 100%;
			}

			h3 {
				font-family: $condensed;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				top: 20px;
				font-weight: normal;
				font-size: 30px;
				line-height: 1;
				margin: 0;
			}
		}

		.menu-main-menu-container {
			padding: 24px 20px;

			.sub-menu .sub-menu-child {
				display: none;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					
					margin-top: 15px;

					&.view-parent-link a {
						font-family: $body-bold!important;
					}
					
					a {
						text-transform: uppercase;
						font-size: 30px;
						font-family: $condensed;
						border-bottom: none;
						display: inline-block;
						width: 100%;
						border-bottom: solid 2px $light-grey;

						&:after {
							content: "\f107";
						    font-family: FontAwesome;
						    font-size: 25px;
						    font-weight: bold;
						    display: inline-block;
						    position: relative;
						    top: 2px;
						    float: right;
						    transform: rotate(0);
						    transition: transform 0.5s;
						}

						&.active {

							&:after {
								transform: rotate(-180deg);
							}
						}
					}
				}

				.menu-item-home {
					border-bottom: solid 4px $black;
					margin-top: 0;

					a {
						border-bottom: none;
					}

					a:after {
						content: none;
					}
				}
			}

			.sub-menu-wrapper {
				display: none;

				ul.sub-menu {
					margin-left: 18px;

					li {
						border-bottom: solid 1px $light-grey;
						margin: 0;
						padding: 8px 0;

						a {
							font-size: 15px;
							line-height: 1.2;
							border-bottom: none;
							font-family: $heading-font;
							font-weight: bold;

							&:after {
							    font-size: 17px;
							    display: inline-block;
							    position: relative;
							    top: 0;
							    left: 4px;
							    float: none;
							    transform: rotate(-90deg);
							    transition: transform 0.5s;
							}
						}
					}
				}
			}
		}
	}
}
