.feature-narrative-tile {
	background-color: $bg-grey;
	position: relative;

	&-center {
		.feature-narrative-tile-text-content {
			position: relative;
			max-width: 700px;
			width: 100%;
			background-color: rgba($white, 0.8);
			padding: 20px;

			@include breakpoint(medium) {
				padding: 40px 60px;
				@include absolute-center;
			}
		}

		.feature-narrative-tile-image {
			height: auto;
		}
	}

	&-image {
		padding-bottom: 62.5%;
		position: relative;

		& > img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}

		@include breakpoint(medium) {
			height: 55vh;
			min-height: 550px;
			padding: 0;
		}
	}

	&.feature-narrative-tile-center .feature-narrative-tile-image {
		padding: 10px 3px;
	}

	&-text {
		position: relative;

		@include breakpoint(medium) {
			height: 55vh;
			min-height: 550px;
		}

		&-content {
			max-width: 500px;
			width: 100%;
			padding: 20px 0;
			margin: 10px 0;

			@include breakpoint(medium) {
				@include absolute-center;
				padding: 30px;
			}

			h3 {
				text-transform: uppercase;
				font-weight: 400;
				line-height: 1.2;
			}

			p:last-child {
				margin-bottom: 0;
			}

			a {
				@include primary-link($black);
				font-family: $body-bold;
			}
		}
	}
}
