.search-header {
	background-color: $bg-grey;
	padding-bottom: 0;
	border-bottom: solid 1px $light-grey;

	h1 {
		margin: 0 0 10px;
		font-family: $heading-font;
	}

	.search {
		display: inline-block;
		position: relative;
		margin: 35px 0 35px;

		&-form {
			position: relative;
			display: inline-block;

			&-ico {
				width: 26px;
				height: 26px;
				position: absolute;
				top: 15px;
				left: 15px;
			}

			&-field {
				background-color: $white;
				border: solid 1px $light-grey;
				border-radius: 30px;
				padding: 15px 30px 15px 55px;
				width: 100%;
				font-size: 22px;
				outline: none;
				color: $black;
				font-weight: bold;
				-webkit-appearance: none;

				@include breakpoint(medium) {
					width: 375px;
				}
			}
		}

		&-clear-btn {
			position: absolute;
			top: 18px;
			right: 20px;
			@include btn-reset;
			background-color: $white;
			padding: 0;

			svg {
				width: 22px;
				height: 22px;
			}
		}
	}

	::placeholder {
		font-family: $body-font;
	}
}
