#search-results {
	position: relative;
	min-height: 200px;
	background-color: $white;

	.no-results {
		text-align: center;
	}

	.loading-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($white, 0.5);

		&-spinner {
			@include absolute-center;
			top: 60px;
			margin-left: -20px;
			transform: scale(1.7);
		}
	}
}

.post-result {
	margin-bottom: 20px;

	@include breakpoint(medium) {
		margin-bottom: 0;
		padding: 20px 0;
		border-bottom: 1px solid $light-grey;
		transform: translateX(0);
		transition: transform 0.5s ease-out;

		&:hover {
			transform: translateX(15px);

			h4 {
				border-bottom: solid 1px $black;
			}
		}
	}

	&-item {
		border-bottom: 0;
		display: block;

		&:hover,
		&:focus {
			border-bottom: 0;
			outline: none;
		}
	}

	h4 {
		font-size: 22px;
		font-family: $heading-font;
		border-bottom: 1px solid transparent;
		display: inline-block;
	}

	&:first-child {
		@include breakpoint(medium) {
			padding: 0 0 20px;
		}
	}

	&:last-child {
		border-bottom: 0;
	}

	&-image {
		vertical-align: top;
		width: 100px;
		height: 73px;
		margin: 0 20px 0 0;
		display: inline-block;
		background-color: $light-grey;
		@include bg-image;

		@include breakpoint(medium) {
			width: 140px;
			height: 100px;
			display: inline-block;
		}
	}

	&-text {
		display: inline-block;
		border-bottom: solid 1px $light-grey;
		padding-bottom: 5px;
		width: calc(100% - 120px);

		@include breakpoint(medium) {
			width: 100%;
			max-width: 950px;
			display: inline-block;
			border-bottom: 0;
		}

		&-date {
			font-size: 12px;
			display: block;
			font-family: $body-bold;

			@include breakpoint(medium) {
				font-size: 14px;
			}
		}

		p {
			margin-bottom: 7px;
			display: none;
			font-weight: normal;

			@include breakpoint(medium) {
				display: block;
			}
		}

		&-more {
			display: inline;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid $black;
			}
		}

		.type p {
			position: relative;
			background-color: $search-grey;
			color: $white;
			text-transform: uppercase;
			font-size: 10px;
			display: inline-block;
			padding: 1px 10px 2px;
			border-radius: 3px;
			font-family: $body-bold;
			margin: 0 4px 0 0;

			@include breakpoint(medium) {
				padding: 2px 14px 3px;
				margin: 0 7px 0 0;
			}
		}
	}

	h4 {
		margin: 0 0 5px;
		font-size: 15px;
		margin-bottom: 5px;

		@include breakpoint(medium) {
			font-size: 22px;
		}
	}
}
