.map-main-inner-container {
    @media only screen and (max-width: 768px) {
        .float-left {
            position: absolute !important;
        }
    }
}

.map__detail-wrapper {
  &.full-height {
    height: 100%;
  }
}

.map__detail-wrapper.active .slick-slider {
    transform: translateX(150%);
    opacity: 0;

    @include breakpoint(medium) {
        transform: translateX(250%);
    }
}

.map__detail-wrapper.m-5 {
    margin: 0 5px;
}

.gotomap {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.map__detail-wrapper .slick-slider {
    position: relative;
    z-index: 1;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    max-width: 370px;
    top: 30px;
    opacity: 1;
    transition: transform 0.35s ease-out, opacity 0.35s ease-out;

    @include breakpoint(large) {
        transform: initial;
        width: 100%;
        top: 0;
        left: 0;
    }

    @media only screen and (max-width: 768px) {
        right: 40%;
    }

    .slick-list {
        //border-radius: $map-radius;
        //box-shadow: $map-shadow;
        overflow: hidden;
        background-color: $white;
    }

    .slick-dots {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 80%;
        margin: 8px auto 0;
        display: flex !important;
        flex-direction: row;
        justify-content: center;

        li {
            margin: 0 4px;
            button {
                border: 0;
                padding: 0;
                text-indent: -9999px;
                background-color: $white;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                outline: none;
                box-shadow: $map-shadow;
            }

            &.slick-active button {
                background-color: $peach;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        box-shadow: $map-shadow;
        outline: none;
        padding: 0;
        margin: 0;
        top: 80px;
        z-index: 2;
        background-color: $white;
        opacity: 0.6;
        display: block;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        text-indent: -99999px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.2s ease-out;
        display: flex;

        &:after {
            @include right-angle('black');
            display: block;
            margin: auto;
            width: 33px;
            width: 33px;
        }

        &:hover {
            opacity: 1;
        }

        &.slick-prev {
            left: -25px;

            &:after {
                transform: rotate(180deg);
                position: relative;
                top: -7px;
                left: -2px;
            }
        }

        &.slick-next {
            right: -25px;

            &:after {
                position: relative;
                left: 2px;
                top: -8px;
            }
        }
    }
}

.map-detail {
    position: relative;
    width: 100%;

    &__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 3;
        outline: none;
        cursor: pointer;

        @include breakpoint(large) {
            display: none;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: $white;
        }
    }

    &__image {
        width: 100%;
        min-height: 120px;
        height: 26vh;
        position: relative;
        @include bg-image;

        @include breakpoint(large) {
            height: 200px;
        }

        &:after {
            @include gradient-top;
        }
    }

    &__body {
        padding: 16px 20px 20px;

        @include breakpoint(large) {
            padding: 24px 28px 28px;
        }

        h2 {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 18px, 24px);
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 13px;
			
			&:before {
                border:none;
            }

            //&:after {
                //content: '';
                //display: block;
                //width: 70px;
                //height: 1px;
                //margin-top: 6px;
                //background-color: $black;
            //}
        }

        p {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 13px, 16px);
            line-height: 1.50;
        }

        a.btn {
            margin: 20px 2px 0 0;
            min-width: auto;

            &:after {
                @include right-angle('black');
                position: relative;
                top: -2px;
            }

            &:hover {
                //margin: 20px 0 0 !important;
				font-weight: normal;
            }

            &:hover:after {
                @include right-angle('white');
            }

            &.accomm {
                border: solid 3px $orange;

                &:hover {
                    background-color: $orange;
                }
            }
        }

        .fav-btn {
            padding: 0;
            border: 0;
            width: 34px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            left: 20px;
            cursor: pointer;
            outline: none;

            &:hover {
                svg {
                    fill: $peach;
                    stroke: $peach;
                }
            }

            &.active svg {
                fill: $peach;
                stroke: $peach;
            }
        }

        svg.fav-ico {
            width: 30px;
            height: 30px;
            fill: none;
            stroke: $slate;
        }
    }
}
