$map-radius: 8px;
$map-shadow: 0px 2px 5px -2px rgba($black, 0.35);

@import 'LocationPin';
@import 'Navigation';
@import 'DetailBox';

    .map {
        & > .row p {
            margin-bottom: 30px;
        }

        &__container {
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: hidden;

            @include breakpoint(medium) {
                height: 75vh;
            }

            @include breakpoint(large) {
                border-top: 0;
                height: 75h;
            }

            @include breakpoint(medium down) {
                &:after {
                    @include overlay;
                }

                &.active:after {
                    content: none;
                }
            }
        }

        &__detail-wrapper {
            position: relative;
        }

        .no-listings {
            @include absolute-center;
        }

        .loader {
            @include absolute-center;

            img {
                width: 80px;
                height: 80px;
            }
        }

        .map-main-container {
            display: block;
            width: 100%;
			overflow: hidden;
        }
    }
