.map-nav__wrapper {
  background: #8fafa6;
  padding: 0 0 60px 0;
  margin-bottom: 0;


  @media only screen and(max-width: 768px) {
  margin-bottom: -10px!important;
}
}

section {
  &.map,
  &.map-section
  {
    padding-bottom: 0;
  }
}

.map-nav {
    z-index: 2;
    overflow: visible;
    height: 70px;
    width: 100%;

  @include breakpoint(medium) {
    .map-nav__cat {
      overflow: inherit!important;
    }
  }

    @include breakpoint(large) {
        top: 20px;
        height: 100px;
    }

    &.has-listings:after {
        content: '';
        z-index: 10;
        right: 0;
        top: 0;
        height: 50%;
        width: 30px;
        background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0.93) 69%, rgba($white, 1) 74%);

        @include breakpoint(medium) {
            content: none;
        }
    }

    &.active {
        height: 35px;

        @include breakpoint(large) {
            height: 56px;
        }

        &:after {
            height: 100%;
        }
    }

    &__fav-count {
        top: 3px;
        display: inline-block;
        background-color: $red;
        font-weight: 800;
        color: $white;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-shadow: $map-shadow;

        span {
            width: 100%;
            display: inline-block;
            margin: 2px auto;
        }
    }

    &__cat {
        list-style: none;
        padding: 0;
        margin: 0;
      display: block;
        overflow-x: auto;
        position: relative;
      text-align: center;

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint(large) {
            overflow-x: initial;
        }

        li {
            flex: 1;
            z-index: 10;
          display: inline-block;

            &:last-child:after {
                content: none;
            }

            &.favourite {
                padding-right: 25px;

                @include breakpoint(medium) {
                    padding-right: 0px;
                }
            }

            &.active {
                &:after {
                    content: none;
                }

                button {
                    //border-bottom:10px solid #fff;
                  background-color: #fff;
                  color: #000;
					
                    &[data-cat='accomm'] {
                        color: $orange;
                    }

                  &:after {
                    display: none!important;
                  }
                }

                .map-nav__subcat {
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 65px!important;
                    width: 100%;
                  z-index: 50;
                font-size: 10px;

                  @media only screen and (max-width: 768px) {
                    justify-content: center;
                    top: 62px!important;
                  }
                }
            }

          &:not(:last-of-type) {
            margin-right: 15px;
          }

            button {
                width: 100%;
              font-size: 10px;
                min-width: 100px;
                background-color: transparent;
              border: 2px solid #fff;
              border-radius: 50px;
              padding: 7px 13px;
              font-weight: bold;

              text-transform: uppercase;
                letter-spacing: 1px;
                cursor: pointer;
                position: relative;
                white-space: nowrap;
				color: #fff;
				outline: none;

              transition: all linear 0.25s;

                &[data-cat='accomm'] {
                    color: $orange;
                }

              &:hover {
                background-color: #fff;
                color: #000;
              }
            }
        }
    }

    &__subcat {
        width: 100%;
        height: 38px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        z-index: -1;
        bottom: 0;
        left: 0;
        overflow-x: auto;

      .active {

        button {
          background-color: #639083!important;
          color: #fff!important;
        }
      }

      button {
        border-color: #639083;
        background-color: transparent!important;
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #fff!important;
          background-color: #639083!important;
        }
      }

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint(large) {
            overflow-x: initial;
            height: 55px;
        }

      li.sub-category {
        margin-bottom: 15px!important;
      }

      li.sub-category:not(:last-of-type){
        margin-right: 15px;
      }

      li.sub-category {
        text-transform: uppercase;
      }

        li.sub-category,
        li {
            padding: 0;
            margin: 0;

            button {
              border-color: #639083;
                padding: 10px 12px;
                height: 100%;
                color: $white;
                background-color: #639083;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                vertical-align: middle;
                white-space: nowrap;
				font-weight: bold;
				text-decoration: none;
              text-transform: capitalize;
              font-size:10px;
              text-align:Center;

              &:hover {
                background-color: #639083;
                color: #fff;
              }

            }

            &.view-all {
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: right;
                    padding: 15px 10px;
                    border: none;
					font-weight: bold;
					font-size: 15px;
					text-decoration: underline;

                    &:hover {
                        //background-color: $light-grey;
						color: $green;
						
                    }

                    &:after {
                        @include right-angle('black');
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }
        &.accomm .view-all a {
            background-color: $orange;

            &:hover {
                background-color: darken($orange, 8%);
            }
        }

        &.accomm li {
            &.active button,
            &:hover button {
                color: $orange;
            }
        }
    }
}